<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>PSYCHE ZERO</title>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">易念科技</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">首页</a></li>
            <li class="cp"><a href="javascript:;">产品系列                </a>                <div class="child_nav"><span class="sj"></span><a href="./psyche.html" >PSYCHE ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
            <li class="fangan"><a href="./com_plan.html">神经科学AI综合解决方案</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >金融机构减压室方案</a>
                    <a href="./english.html">少儿在线英语教育方案</a>
                    <a href="./teach_plan.html">中小学学习教育方案</a>
                </div>
            </li>
            <li><a href="./education.html">STEM教育套件</a></li>
            <li><a href="./principle.html">科学原理</a></li>
            <li><a href="./platform.html">开发</a></li>
            <li><a href="./download.html">软件下载</a></li>
            <li><a href="./shop.html">商店</a></li>
            <li><span class="yx"><a href="javascript:;">CN</a></span><span><a href="./../../EN/view/index.html">EN</a></span></li>
        </ul>
    </div>  
    <div class="m_psy">
        <div class="m_psy_cont1">
            <div class="img1">
                <img src="./../src/images/m_psyche/1/1_2.png" alt="">
            </div>
            <div class="img2">
                    <img src="./../src/images/m_psyche/1/1_1.png" alt="">
            </div>
            <p>一个能提升大脑能力，<br>促进大脑健康的脑电波（FFG）智能头箍</p>
            <h6>PSYCHE ZERO (赛奇初代)</h6>
            <a href="javascript:;"><img src="./../src/images/m_psyche/1/1_3.png" alt=""></a>
            <ul>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-1.png" alt="">
                    </div>
                    放松减压
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-2.png" alt="">
                    </div>
                    调节情绪
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-3.png" alt="">
                    </div>
                    配套应用
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-4.png" alt="">
                    </div>
                    提升专注
                </li>
            </ul>
        </div>
        <div class="m_psy_cont2">
            <img src="./../src/images/m_psyche/2/2_2.png" alt="">
            <p>
                    PSYCHE是一个能安全测量脑电信号的非侵入式EEG头箍。<br>
                    前额处配备四个传感器，<br>
                    左、右耳各有一个参考电极，均使用导电性极强的材料，<br>
                    能有效滤除外来噪声和电干扰，<br>
                    最大限度提高PSYCHE在EEG信号解释中的准确性。<br>
            </p>
        </div>
        <div class="m_psy_cont2 m_psy_cont3">
            <img src="./../src/images/m_psyche/3/3_5.png" alt="">
            <p>
                    PSYCHE利用AI专利算法实时监测大脑<br>
                    脑波信号——δ波、θ波、α波、β波、γ波，<br>
                    解译并反映大脑状态变化，<br>
                    如“专注度”、“放松度”、“精神压力”、“精神疲劳度”指数，<br>
                    可帮助调节大脑各项功能。<br>
            </p>
            <ul>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_1.jpg" alt="">
                    </div>
                    <h5>“专注度”指数</h5>
                    <p>
                        注意力是选择性地集中于信息的离散方面的行为和认知过程。“专注度指数”表明了用户精神“集中度”水平或“注意度”水平的强烈程度，该指数值的范围是0到100。
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_2.jpg" alt="">
                    </div>
                    <h5>“放松度”指数</h5>
                    <p>
                        放松,低张力的情绪状态，指身体和心灵摆脱紧张和焦虑,“放松度指数” 表明了用户精神“平静度”水平或者“放松度”水平。该指数值的范围是0到100。闭上眼睛通常是提高放松度值的有效方法。
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_3.jpg" alt="">
                    </div>
                    <h5>精神压力</h5>
                    <p>
                        精神压力，指人在思想上有负担，有思想包袱，近义词为思想包袱。心理压力即精神压力，现代生活中每个人都有所体验，心理压力总的来说有社会、生活和竞争三个压力源。
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_4.jpg" alt="">
                    </div>
                    <h5>精神疲劳度</h5>
                    <p>
                        “精神疲劳”是指由脑力劳动繁重、神经系统紧张程度过高或长时间从事单调、厌烦的工作而引起的精神疲怠现象。表现为心绪不安，注意不易集中，思维迟钝，情绪低落，工作效率下降等。“精神疲劳度”指的则是用户心理疲劳的程度，该指数值的范围是0到100。
                    </p>
                </li>
                
            </ul>
        </div>
        <div class="m_psy_cont4">
            <div class="cont">
                <img src="./../src/images/m_psyche/4/4_1.png" alt="">
                <p>省略实验室设备繁琐的佩戴步骤 PSYCHE仅需6个传感电极<br>
                        （额头四个 左右耳各一个参考电极 用图表示出来）接触皮肤<br>
                        即可在大脑和手机之间安全连接 将注意力、<br>
                        放松度等精确数据100%保密传至云端</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont5">
            <div class="cont">
                <img src="./../src/images/m_psyche/5/5_1.png" alt="">
                <p>设计新颖，科技感与舒适感并重<br>
                        为了确保用户最佳体验，使用高品质材质制造而成</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont6">
                <div class="cont">
                <img src="./../src/images/m_psyche/6/6_1.png" alt="">
                <p>终端设备通过传感电极收集海量数据后，<br>
                        会对信号进行过滤降噪，<br>
                        并将其传输至终端设备已存在的私有模型和公共模型，<br>
                        再利用专利算法对其进行解析；与此同时，<br>
                        过滤降噪后的数据还将通过WIFI/蜂窝网络传至云端，<br>
                        云端中的AI算法也会对数据进行解析，<br>
                        并根据本次数据特征不断优化公共模型，<br>
                        定期更新传送至终端设备，<br>
                        集合建成一个大数据模型，泛化意识特征 <br>
                        同时，终端设备在接收到过滤降噪后的信号数据以后，<br>
                        会根据终端设备中已有的私有模型和公共模型进行运算，<br>
                        实时将意图/思想（精神）状态等结果反馈给用户，<br>
                        为用户训练优化私有模型并不断更新</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont7">
                <div class="cont">
                <img src="./../src/images/m_psyche/7/7_1.png" alt="">
                <p>8种脑波训练方案 <br>
                        基于视觉、听觉、嗅觉的神经反馈训练，让大脑自我调节 <br>
                        帮助用户释放压力、缓解大脑疲劳， <br>
                        提高记忆力、创造力等大脑能力 <br>
                        每天冥想30-60分钟，立即体会身心机能的全面提升</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont8">
                <div class="cont">
                <img src="./../src/images/m_psyche/7/7_3.png" alt="">
                <p>多款寓教于乐的脑训练APP <br>
                        考验并提高注意力、灵敏度、速度、解决问题、 <br>
                        记忆力、情绪控制六大能力 <br>
                        认真体验APP每一项功能 强化大脑认知能力就是这么简单</p>
            </div>
        </div>
        <div class="m_psy_cont9">
            <h5>应用领域</h5>
            <p>APPLICATION FIELD</p>
            <ul>
                <li>
                    <img src="./../src/images/m_psyche/8/8_1.jpg" alt="">
                    <h6>教育领域</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_2.jpg" alt="">
                    <h6>健康领域</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_3.jpg" alt="">
                    <h6>娱乐领域</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_4.jpg" alt="">
                    <h6>艺术领域</h6>
                </li>
            </ul>
        </div>
        <div class="m_psy_cont10">
            <ul>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i1.png" alt="">
                    </div>
                    <div class="r_cont">
                        <h6>1、头箍外环带</h6>
                        <p>使用硅胶材料，质地柔软，能够紧密贴合头部皮肤，让你体验舒适的佩戴感</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i2.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>2、参考电极（左右耳）</h6>
                            <p>表面镀金，最低抗阻，可获得医疗级别精度的大脑数据</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i3.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>3、高精度医疗级芯片 </h6>
                            <p>快速处理海量脑电波数据，智能分析用户大脑专注度、放松度等指数数值</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i4.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>4、重量</h6>
                            <p>加权0.45磅，十分轻便，佩戴起来丝毫没有负重感</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i5.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>5、电池</h6>
                            <p>800mAh锂电子充电电池，续航能力长达20小时</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i6.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>6、蓝牙同步</h6>
                            <p>通过低耗电蓝牙5.0无线传送脑波数据，与智能手机和平板电脑同步</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m_psy_cont11">
            <h5 class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">支持程序扩展</h4>
            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">PSYCHE配套的应用程序均会封装成SDK，开放API接口，<br>
                可供其他公司或合作伙伴进行二次开发</p>
            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s" style="padding-bottom: 0">
                <img src="./../src/images/psyche/psy8.jpg" alt="" style="height: 8rem;">
            </div>

        </div>
        <div class="m_psy_cont12">
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">技术规格</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                <li><span></span><p>EEG信号采集通道：四个</p></li>
                <li><span></span><p>带宽：24bit</p></li>
                <li><span></span><p>电池类型：锂电池</p></li>
                <li><span></span><p>支持平台：Windows(XP/7/8/10)、Mac（OSX 10.8或更高版本）、<br>
                    IOS（IOS 8或更高版本）和Android（Android 2.3或更高版本）
                </p></li>
                <li><span></span><p>电极贴合检测：自动脱落检测</p></li>
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">物理规格</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
                <li><p>尺寸：58*22*15mn</p></li>
                <li><p>重量：200g</p></li>
                <li><p>工作电流：15mA</p></li>
                <li><p>待机电流：50uA</p></li>
                <li><p>正常工作时间：充满电可连续使用20小时以上</p></li>
                <li><p>待机时长：2年以上</p></li>
                <li><p>工作电压：3.7v-4.2v</p></li> 
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.2s">测量</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
                <li><span></span><p>输出24bit带宽脑电波（3-100Hz），采样率：200Hz</p></li>
                <li><span></span><p>输出脑电波的波段（Alpha、Beta、etc）</p></li>
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.8s">蓝牙特征</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2.1s">
                <li><span></span><p>版本：BLE5.0</p></li>
                <li><span></span><p>连接方式：自动绑定</p></li>
                <li><span></span><p>传输距离：15米以内</p></li>
            </ul>
        </div>
        <div class="m_psy_cont13">

        </div>
    </div>
</body>
</html>