<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>中小学教育方案</title>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <script src="../src/js/swiper.min.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/common.css">
    <link href="./favicon.ico" rel="SHORTCUT ICON">
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">易念科技</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">首页</a></li>
            <li class="cp"><a href="javascript:;">产品系列                </a>                <div class="child_nav"><span class="sj"></span><a href="./psyche.html" >SOULINK ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
            <li class="fangan active"><a href="./com_plan.html">神经科学AI综合解决方案</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >金融机构减压室方案</a>
                    <a href="./english.html">少儿在线英语教育方案</a>
                    <a href="./teach_plan.html">中小学学习教育方案</a>
                </div>
            </li>
            <li><a href="./education.html">STEM教育套件</a></li>
            <li><a href="./principle.html">科学原理</a></li>
            <li><a href="./platform.html">开发</a></li>
            <li><a href="./download.html">软件下载</a></li>
            <li><a href="./shop.html">商店</a></li>
            <li><span class="yx"><a href="javascript:;">CN</a></span><span><a href="javascript:;" onclick="toURL()">EN</a></span></li>
        </ul>
    </div> 
    <div class="teach_plan">
        <div class="plan1 pos_rel">
            <div class="pos_abs"><h4 class="title">中小学学校教育方案</h4>
                <p class="text">改变传统教育现状 构建新型教育模式   <br>
                    激发大脑认知能力 提高学习效率<br>
                    通过心理减压室保障学生心理健康 促进学生全面发展</p> 
            </div>
        </div>
        <div class="plan2">
            <div class="cont_with">
                <div class="left">
                    <h6>为什么要选择易念科技中小学学校教育方案？</h6>
                    <p>易念科技中小学教育方案基于人工智能、大数据、神经反馈等多项现代科学技术，能够改善学生学习注意力不集中，多动分心的状况，提高其学习效率，从根本上改善中小学学校教育现状。</p>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <div class="plan3">
            <div class="cont_with">
                    <h4 class="fin_tit">教育方案系统结构内容</h4>
                    <span class="line"></span>
                    <div class="swiper-container swiper-container-horizontal swiper-container-free-mode">
                        <div class="swiper-wrapper" >
                            <div class="swiper-slide swiper-slide-active" >
                         
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr4.jpg" alt="">
                                    </div>
                                    <h5>智能健脑室</h5>
                                    <p>项目以脑电生物反馈技术为核心，结合沙盘训练、情绪管理、心理沟通、注意力行为训练等课程，帮助改善学生多动症和注意力不集中等问题。</p>
          
                            </div>
                            <div class="swiper-slide" >
                     
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr5.jpg" alt="">
                                    </div>
                                    <h5>课堂实时反馈系统</h5>
                                    <p>学生在上课时佩戴脑电波头箍，老师根据头箍反馈的数据采用多维度的智能手段来调节学生的身心状态，达到有松有驰的高效教学状态。</p>
               
                            </div>
                            <div class="swiper-slide" >
                
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr6.jpg" alt="">
                                    </div>
                                    <h5>课堂教学质量评测系统</h5>
                                    <p>通过智能头箍，统计分析学生注意力，根据学生注意力趋势的一致性指标来判断教师课堂上是否能够调动同学的兴趣，并对教师的教学水平可以做出一个客观的评估，属于过程评价体系。 </p>
                      
                            </div>
                            <div class="swiper-slide" >
                 
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr1.jpg" alt="">
                                    </div>
                                    <h5>STEM 课堂</h5>
                                    <p>利用智能硬件产品，为中小学生提供大脑引导性训练，提高用脑效率，让孩子体验不同新颖、富有挑战性的室内室外实操活动，促进孩子智力发育，让大脑更具创造力。</p>
               
                            </div>
                            <div class="swiper-slide" >
                    
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr2.jpg" alt="">
                                    </div>
                                    <h5>学生学习综合评测系统</h5>
                                    <p>该系统将监测学生在家的学习状况。头箍会采集完全个人化的数据特征，利用人工智能算法获取学生的学习效率模型，可以针对性地生成个性化学习方案。</p>
                      
                            </div>
                            <div class="swiper-slide" >
                    
                                    <div class="img">
                                            <img src="../src/images/teach_plan/nr3.jpg" alt="">
                                    </div>
                                    <h5>心理减压室</h5>
                                    <p>利用智能灯光、智能香薰、智能音箱等设备，结合脑电波头箍监测学生各项生理数据，通过系统实时反馈匹配不同的灯光、气味及音乐组合，打造一个更利于进入冥想状态的外部环境，调节学生情绪，减少压力和焦虑。</p>
                       
                            </div>
                        
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div> -->
                    </div>
            </div>
        </div>
        <div class="plan4">
              <div class="cont_with">
                    <h5 class="fin_tit" style="color: #000">预期效果</h5>
                    <span class="line"></span>
                    <p class="text" style="color: #000">脑电波头箍根据不同人群（小孩、大人、男性、女性等）的头型特征选取了一套综合方案进行结构设计，通过 AI 算法加工生成云智能模型获取每位用户的个人特征，利用方案中的六个系统训练方案，即可实现提高学生注意力的愿景。</p>
                    <p class="text" style="color: #000">它将打破传统教学模式，帮助学生提高学习效率，激发学生创造力等各项大脑认知能力，并结合心理学知识，通过心理减压室保障学生心理健康，为学校和国家培养更多创新型的实用人才。</p>
                    <div class="img" style="padding: 2rem 0">
                        <img src="./../src/images/teach_plan/th.png" alt="" style="width: 12rem;">
                    </div>
              </div>
        </div>
    </div>
    <div class="foot">
        <div class="foot_top">
            <div class="foot_left">
                <div class="logo">
                    <img src="./../src/images/logo.png" alt="">
                </div>
                <p class="text"><span>电话：</span> +86-0755-86667894</p>
                <p class="text"><span>邮箱：</span> publicmedia@neu-flex.com</p>
                <p class="text"><span>地址：</span> 深圳市南山区科技园高新中三道
                        二号深圳软件园5栋210</p>
            </div>
            <div class="foot_center">
                <ul>
                    <li>
                        <h4><a href="./index.html">首页</a></h4>
                    </li>
                    <li>
                         <h4 class="no_hover"><a href="javascript:;">产品列表</a></h4>
                        <a href="./psyche.html">SOULINK ZERO</a>
                        <a href="./mercury.html">MERCURY</a>
                    </li>
                    <li>
                        <h4><a href="./problem.html">客服</a></h4>
                    </li>
                    <li>
                        <h4 class="no_hover"><a href="javascript:;">媒体资讯</a></h4>
                        <a href="./news.html">新闻动态</a>
                        <a href="./news.html">媒体报道</a>
                    </li>
                    <li>
                        <h4 class="no_hover"><a href="javascript:;">关于公司</a></h4>
                        <a href="./company_into.html">公司介绍</a>
                        <a href="./contact.html">联系我们</a>
                        <a href="./join_us.html">加入我们</a>
                    </li>
                    <li>
                        <h4><a href="javascript:;">论坛</a></h4>
                        <h4><a href="./cooperation.html">合作</a></h4>
                    </li>
                </ul>
            </div>
            <div class="foot_right">
                <ul>
                    <li class="wx"> 
                        <img src="./../src/images/wx.png" alt="微信">
                        <p class="text">微信</p>
                    </li>
                    <li class="wb"> 
                        <img src="./../src/images/wb.png" alt="微信">
                        <p class="text">微博</p>
                    </li>
                    <li class="tt"> 
                        <img src="./../src/images/tt.png" alt="微信">
                        <p class="text">头条号</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot_b">
            <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
            <p class="b2">本站部分图片转自网络 ，如有侵权，请联系作者删除，谢谢！</p>
        </div>
    </div>
</body>
<script>
if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        direction: 'horizontal',
        slidesPerView: 2,
        mousewheel : true,
        spaceBetween: 10,
    });
   
} else {
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        direction: 'horizontal',
        slidesPerView: 3,
        mousewheel : true,
        spaceBetween: 50,
    });
   
}

    
</script>
</html>
