<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>少儿英语在线</title>
    <script src="./../src/js/swiper.min.js"></script>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/common.css">
    <link href="./favicon.ico" rel="SHORTCUT ICON">
    <style>
        
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color:#000;
            margin: 0;
            padding: 0;
        }
        .swiper-container {
            width: 100%;
            height: 6rem;
            margin: 0.4rem auto;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .swiper-slide img{width: 100%; height: 100%;}
    </style>
</head>
<body>
<div class="header">
    <h1 class="logo"><a href="./index.html">Neural FLEX</a></h1>
    <div class="sq"><a href="javascript:;"></a></div>
    <ul class="nav">
        <li><a href="./index.html">HOME</a></li>
        <li class="cp"><a href="javascript:;">PRODUCTS</a>                <div class="child_nav"><span class="sj"></span><a href="./psyche.html" >SOULINK ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
        <li  class="active fangan"><a href="./com_plan.html">Integrated Solutions of <br> AI with Neuroscience</a>
            <div class="child_nav">
                    <span class="sj"></span>
                <a href="./finance.html" >Program of Decompression Chamber <br> for Financial Institutions</a>
                <a href="./english.html">Program of Study for Top  Children's <br> Online English Education Company</a>
                <a href="./teach_plan.html">Program of Primary and <br> Secondary Schools’ Education</a>
            </div>
        </li>
        <li><a href="./education.html">STEM Kits for Education</a></li>
        <li><a href="./principle.html">SCIENCE</a></li>
        <li><a href="./platform.html">DEVELOP</a></li>
        <li><a href="./download.html">DOWNLOAD</a></li>
        <li><a href="./shop.html">STORE</a></li>
        <li><span><a href="javascript:;" onclick="toURL()">CN</a></span><span class="yx"><a href="javascript:;">EN</a></span></li>
    </ul>
</div> 
<div class="english">
    <div class="english_top">
       
    </div>
    <div class="english_cont">
        <div class="english1">
            <div class="cont_with">
                <div class="left">
                    
                </div>
                <div class="right">
                    <h5>Background Introduction</h5>
                    <h6>The Technical Environment of China Online Children's English Industry in 2019</h6>
                    <p>（1）The Improvement of hardware performance improved UE(user experience).</p>
                    <p>（2）Mobile Internet broadened use scenarios.</p>
                    <p style="font-weight: 600;">（3）Big data and artificial intelligence brought better service.</p>
                    <h6>Summary of the Core Values of China Online Children's English Model in 2019</h6>
                    <p>（1）Beyond the limitation of time and space.</p>
                    <p>（2）Rich in form and interesting.</p>
                    <p>（3）Smart connection and matching.</p>
                    <p style="font-weight: 600;">（4）Personalization.</p>
                </div>
            </div>
        </div>
        <div class="english2">
            <div class="cont_with">
                <h5 class="eng_tit">Create an Intelligent Learning System Neural FLEX let Children Fall in love with English.</h5>
                <span class="line"></span>
                <div class="english2_cont">
                    <div>
                        <h6>Teacher-Student Matching</h6>
                        <p>Using neural feedback technology to monitor students' attention level during class, combined with artificial intelligence technology for big data analysis, to intelligently match students with the most suitable teachers.</p>
                    </div>
                    <div>
                        <h6>Personalized Learning</h6>
                        <p>Intelligent analysis of students' brainwave frequency and logical thinking in the classroom, tailoring effective learning programs for children and improving learning efficiency.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cj english3">
            <div class="cont_with">
                <h5 class="eng_tit">Application Scenario of the Solution</h4>
                <span class="line"></span>
                <div class="swiper-container swiper-container-horizontal swiper-container-free-mode">
                    <div class="swiper-wrapper" >
                        <div class="swiper-slide swiper-slide-active" >
                            <div class="box">
                                <img src="../src/images/english/sw1.jpg" alt="">
                                <div class="cont">
                                    <h5>Attention Intelligent Teacher-Student Matching System:</h5>
                                    <p>Real-time monitoring of children's attention level in listening to online courses, and quickly matching them to appropriate foreign teachers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" >
                            <div class="box">
                                <img src="../src/images/english/sw2.jpg" alt="">
                                <div class="cont">
                                    <h5>Class Learning Monitoring System (for Teacher):</h5>
                                    <p>Visualize the students' attention thinking and help the teacher to clearly judge the attention of each class and the participation of the class.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" >
                            <div class="box">
                                <img src="../src/images/english/sw3.jpg" alt="">
                                <div class="cont">
                                        <h5>Class Learning Report (for Parents):</h5>
                                        <p>The brainwave data generation learning report of the child during class is pushed to the parents, so that the parents can clearly understand the child's learning situation.</p>
                                    </div>
                            </div>
                            
                        </div>
                        <div class="swiper-slide swiper-slide-active" >
                            <div class="box">
                                <img src="../src/images/english/sw4.jpg" alt="">
                                <div class="cont">
                                    <h5>The Interface of Brainwave Data API is Open:</h5>
                                    <p>Neural FLEX will initially collect the analysis data of the students from brainwave database and package it into a SDK packet, and the API interface will be opened to the organizations for their invocation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" >
                            <div class="box">
                                <img src="../src/images/english/sw5.jpg" alt="">
                                <div class="cont">
                                    <h5>Offline Learning System:</h5>
                                    <p>A、Offline Learning Assessment System<br>
                                    B、Intelligent Music Regulation System<br>
                                    C、Pre-Assessment System of Learning Status</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" >
                            <div class="box">
                                <img src="../src/images/english/sw6.jpg" alt="">
                                <div class="cont">
                                    <h5>Course Recommendation System:</h5>
                                    <p>Recommend the course mode to the child's intelligence through the child's attention feedback on different courses.                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div> -->
                </div>
            </div>
        </div>
        <div class="english4">
            <div class="cont_with">
                <h5 class="eng_tit">More Proposals</h4>
                <span class="line"></span>
                <div class="english4_1">
                        <span class="e_line"></span>
                        <h6>STEM Classroom Education：Attach Importance to Children's Ability Development</h6>
                        <p>The STEM classroom education and mental training program can improve students' brain abilities, foster children's creativity and promote intellectual development.</p>
                        <img src="./../src/images/english/eng3.jpg" alt="">
                    </div>
                    <div class="english4_2">
                        <div class="bg"></div>
                        <div class="english4_2_cont">
                            <div class="e2_cont">
                                <div class="e2_po">
                                    <h6>Brainwave Recognition Technology</h6>
                                    <p>The brain wave recognition is used to judge the child's concentration, which is more scientific and accurate. Recommend courses to children based on the characteristics of each child to improve course utilization and learning effectiveness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
          
        </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="foot_top">
        <div class="foot_left">
            <div class="logo">
                <img src="./../src/images/logo.png" alt="">
            </div>
            <p class="text"><span>Phone：</span> +86-0755-86667894</p>
            <p class="text"><span>E-mail：</span> publicmedia@neu-flex.com</p>
            <p class="text"><span>Address：</span> Room 210, Building 5, Gaoxin Middle 3rd Rd, Shenzhen Software Park Phase 1, Nanshan District, Shenzhen P.R.C</p>
        </div>
        <div class="foot_center">
            <ul>
                <li>
                    <h4><a href="./index.html">HOME</a></h4>
                </li>
                <li>
                        <h4 class="no_hover"><a href="javascript:;">PRODUCTS</a></h4>
                    <a href="./psyche.html">SOULINK ZERO</a>
                    <a href="./mercury.html">MERCURY</a>
                </li>
                <li>
                    <h4><a href="./problem.html">SERVICE</a></h4>
                </li>
                <li>
                    <h4 class="no_hover"><a href="javascript:;">MEDIA and NEWS</a></h4>
                    <a href="./news.html">NEWS</a>
                    <a href="./news.html">MEDIA REPORTS</a>
                </li>
                <li>
                    <h4 class="no_hover"><a href="javascript:;">ABOUT US</a></h4>
                    <a href="./company_into.html">COMPANY INTRODUCTION</a>
                    <a href="./contact.html">CONTACT US</a>
                    <a href="./join_us.html">JOIN US</a>
                </li>
                <li>
                    <h4><a href="javascript:;">FORUM</a></h4>
                    <h4><a href="./cooperation.html">COOPERATION</a></h4>
                </li>
            </ul>
        </div>
        <div class="foot_right">
            <ul>
                <li class="wx"  data-wow-duration="1s" data-wow-delay="0s"> 
                    <img src="./../src/images/wx.png" alt="微信公众号">
                    <p class="text">WeChat</p>
                </li>
                <li class="wb"  data-wow-duration="1s" data-wow-delay="0.5s"> 
                    <img src="./../src/images/wb.png" alt="微信公众号">
                    <p class="text">Weibo</p>
                </li>
                <li class="tt" data-wow-duration="1s" data-wow-delay="1s"> 
                    <img src="./../src/images/tt.png" alt="微信公众号">
                    <p class="text">Toutiao</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot_b">
        <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
        <p class="b2">Some pictures of this site are transferred from the network. If there is any infringement, please contact the author to delete them. Thank you!</p>
    </div>
</div>
</body>
<script>
     if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            direction: 'horizontal',
            slidesPerView: 2,
            mousewheel : true,
            spaceBetween: 10,
        });
        } else {
            var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            direction: 'horizontal',
            slidesPerView: 3,
            mousewheel : true,
            spaceBetween: 10,
        });
        }
    // var swiper = new Swiper('.swiper-container', {
    //     pagination: {
    //         el: '.swiper-pagination',
    //         type: 'bullets',
    //     },
    //     navigation: {
    //         nextEl: '.swiper-button-next',
    //         prevEl: '.swiper-button-prev',
    //     },
    //     direction: 'horizontal',
    //     slidesPerView: 2,
    //     mousewheel : true,
    //     spaceBetween: 0,

      
    // });
    
</script>
</html>