<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Neural FLEX</title>
    <script src="./../src/js/swiper.min.js"></script>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/jquery.mousewheel.min.js"></script>
    <script src="../src/js/common.js"></script>
    <script src="./../src/js/swiper.animate1.0.3.min.js"></script>
    <link rel="stylesheet" href="../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/animate.min.css">
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> -->
    <style>
    .swiper-container1{width: 100%;height: 100%;position: relative;}
    .swiper-pagination1{color: #fff; position: absolute;height:1rem;z-index: 10;bottom: 10%;width: 20%;left: 20%;}
    .swiper-pagination1 .swiper-pagination-current{font-size: 0.4rem;color: #fff;}
    .swiper-pagination1 .swiper-pagination-total{font-size: 0.26rem;color: #fff;}
    .swiper-button-next{width: 1.5rem;height: 4rem;margin-top: -2rem;opacity: 0;transition: all 0.5s}
    .swiper-button-prev{width: 1.5rem;height: 4rem;margin-top: -2rem;opacity: 0 !important;cursor: pointer;transition: all 0.5s}
    .swiper-button-next,.swiper-button-prev{background-size: 50% auto;}
    .swiper-button-prev:hover{opacity: 1 !important;}
    .swiper-button-next:hover{opacity: 1 ;}
    </style>
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">Neural FLEX</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li  class="active"><a href="./index.html">HOME</a></li>
            <li class="cp"><a href="javascript:;">PRODUCTS
               </a>
               <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./psyche.html" >PSYCHE ZERO</a>
                    <a href="./mercury.html">MERCURY</a>
               </div>
            </li>
            <li class="fangan"><a href="./com_plan.html">Integrated Solutions of <br> AI with Neuroscience</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >Program of Decompression Chamber <br> for Financial Institutions</a>
                    <a href="./english.html">Program of Study for Top  Children's <br> Online English Education Company</a>
                    <a href="./teach_plan.html">Program of Primary and <br> Secondary Schools’ Education</a>
                </div>
            </li>
            <li><a href="./education.html">STEM Kits for Education</a></li>
            <li><a href="./principle.html">SCIENCE</a></li>
            <li><a href="./platform.html">DEVELOP</a></li>
            <li><a href="./download.html">DOWNLOAD</a></li>
            <li><a href="./shop.html">STORE</a></li>
            <li><span><a href="javascript:;" onclick="toURL()">CN</a></span><span class="yx"><a href="javascript:;">EN</a></span></li>
        </ul>
    </div>
    <div class="index">
        <div class="swiper-container swiper-container-vertical" id="swiper-container">
            <div class="index_jt swiper-button-next1" id="index_jt">
                <img src="./../src/images/index/jt.png" alt="">
            </div>
            <div class="swiper-wrapper" >
                <div class="swiper-slide swiper-slide-active">
                    <div class="swiper-container1 swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-prev i_b1" >
                                <a href="./psyche.html" class="link">
                                <!-- <img src="./../src/images/index/banner1.jpg" alt=""> -->
                                    <div class="bg ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s" >
                                        
                                    </div>
                                    <div class="cont">
                                        <h5 class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">PSYCHE</h5>
                                        <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.2s">Focus on Brain Health  &nbsp;&nbsp;Experience Mind Interaction<br>
                                            Train Your Attention, Relaxation and Decompression,<br> Manipulation of "Mind Power"</p>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-active pos_rel banner2" >
                                
                                    <!-- <img src="./../src/images/index/banner2.jpg" alt="">> -->
                                <div class="ban_cont">
                                    <a href="./mercury.html" class="link">
                                    <h6  class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s"><span class="line"></span>M E R C U R Y <span class="line"></span> </h6>
                                    <h5  class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">Manipulate without Touching, Ignore the Space Distance <br> The Objects could Move with You</h5>
                                    <div class="text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s"> You can Intuitively Control Your Digital Life with a Simple Gesture </div>
                                    </a>
                                    <a href="./shop.html" class="shop ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.9s">< < BUY NOW </a>
                                </div>
                               
                            </div>
                            <div class="swiper-slide swiper-slide-active pos_rel banner3" >
                               
                                    <!-- <img src="./../src/images/index/banner3.jpg" alt=""> -->
                                    <div class="ban_cont">
                                        <a href="./com_plan.html" class="link">
                                            <h6 class="b_tit ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">Integrated Solutions of AI with Neuroscience:</h6>
                                            <p  class=" ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.3s">The Solutions Combine with Neuroscience, Pedagogy and Psychology</p>
                                            <p  class=" ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.6s">Use Artificial Intelligence and Brain-Computer <br> Interface Technology to Provide Users with Effective Solutions</p>
                                        </a>
                                        <a href="./com_plan.html"  class=" ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.9s">details > ></a>
                                    </div>
         
                            </div>
                            <div class="swiper-slide swiper-slide-active banner4" >
                                <a href="./education.html" class="link">
                                    <!-- <img src="./../src/images/index/banner4.jpg" alt=""> -->
                                    <div class="ban_cont" >
                                        <div class="img">
                                            <h6 class="b_tit ani" style="text-align: left;padding-left: 2rem;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">STEM KITS:</h6>
                                            <img src="./../src/images/index/b4_1.png" alt="" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                            <div class="text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                                inspiring Future via Linking Easy eXplorations
                                            </div>
                                        </div>  
                                        <div class="clearfix zy">
                                            <div class="left ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                                <p>Do much Guided Training for Your Brain <br> Promote Learning Efficiency, Improve Brain State</p>
                                            </div>
                                            <div class="right ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                                Thinking is Power
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-active banner5" >
                                <!-- <a href="./company_into.html" class="link"> -->
                                <!-- <img src="./../src/images/index/banner5.jpg" alt=""> -->
                            <!-- </a> -->
                                <div class="ban_cont">
                                    
                                    <h6 class="b_tit ani" style="text-align: left;" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Neural FLEX（Our Company）:</h6>
                                    <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                                        Utilize a New Brain-Computer Interface Technology <br> that Integrates EEG & EMG to Create Smarter Wearable Devices for Users <br> When AI Technology Encounters with the Principles of Neuroscience,<br> Neural FLEX will Creates the Global Leading Integrated Solutions of AI with Neuroscience
                                    </p>
                                    <a href="./company_into.html"  class=" ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">details > ></a>
                                </div>
                            </div>
                       
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination1 swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">10</span></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index1">
                        <div class="index_cont ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s" >
                            <h5 class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s" >PSYCHE Brings You a Healthier Brain</h5>
                            <p class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.8s" >Brain State Monitoring, Brain State Analysis, and Brain Function Enhancement</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index1 index2">
                        <div class="index_cont ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s" >
                            <h5 class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">Control Your Toy via MERCURY</h5>
                            <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.8s">Mercury can Read Gestures and Motions, Allowing You to Seamlessly Control Intelligent Devices</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index4 index6 pos_rel">
                        <div class="index_cont pos_ab">
                            <h4 class="title">Link Artificial Intelligence to Neuroscience</h4>
                            <p class="text">Let the two Subjects that there are Basically No Intersection with Each Other Before Begin to Link <br>Improve the Status Quo of Popular Application Fields such as Education and Health </p>
                            <ul>
                                <!-- <li class="opacity ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s" >
                                    <div class="img">
                                        Integrated Solutions of AI with Neuroscience
                                    </div>
                                </li> -->
                                <li class="hover ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                   <img src="./../src/images/index/rg1.png" alt="">
                                </li>
                                <li class="hover ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                                    <img src="./../src/images/index/rg2.jpg" alt="">
                                </li>
                                <li class="hover ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">
                                    <img src="./../src/images/index/rg3.jpg" alt="">
                                </li>
                                <li class="hover ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
                                    <img src="./../src/images/index/rg4.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index3 pos_rel">
                        <div class="index_cont pos_ab">
                            <h4 class="ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">Use MERCURY to control your toys</h4>
                            <h5 class="ani" swiper-animate-effect="bounceInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">A Brand New Concept of STEM Education,Help Children Improve Learning Efficiency and Experience the Fun of Technology</h5>
                            <h6 class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.7s">The Neural FLEX STEM Kits Include:</h6>
                            <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.7s">EEG Headband+《Mental Rubik’s Cube》APP</p>
                            <p class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.7s">EEG Headband + Jumping Race Drone</p>
                            <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.7s">EMG Armband + Robot Arm</p>
                            <p class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.7s">EMG Armband + Smart Mini-Drone</p>
                            <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.7s">EMG Experiment Box</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index4 pos_rel">
                        <div class="index_cont pos_abs" >
                            <h4 class="title ani" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0s" style="padding-top: 0rem;">Business Advantage</h4>
                            <p class="text ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="1s" swiper-animate-delay="0s">WHY CHOOSE US</p>
                            <ul class="choose">
                                <li class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s"> 
                                    <img src="./../src/images/index/ys1.jpg" alt=""> 
                                    <div class="ys_cont ys_pad">
                                        <p>Multi-Channel Signal Processor for Collecting Big Data &nbsp;   Based on Artificial Intelligence Algorithm to Form Cloud-edge Intelligent Model</p>
                                        <p>Precisely Transfer EEG and EMG Signals into Accurate Data, No Matter How Messy the Signal is, It can be Parsed Exactly</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                    <img src="./../src/images/index/ys2.jpg" alt="">
                                    <div class="ys_cont">
                                        <h5 >Domestic, Foreign Laboratories and Experts Work Together to Create Industry-Leading Products</h5>
                                        <p>Establish a Joint Research Center with the Neuroinformatics Laboratory of Famous Medical College in China, the Neuroelectric Laboratory of the Top Universities in Australia and National Top Psychology Institute, Sharing Advanced Information Technology Resources to  Research and Develop Products.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                     <img src="./../src/images/index/ys3.jpg" alt="">
                                    <div class="ys_cont">
                                        <h5 >Direct Access to Popular Application Fields &nbsp;  Enjoy Technology Benefits </h5>
                                        <p>The Company Covers a Wide Range of Popular Fields such as Education, Health and entertainment, Provide Users with a Variety of Products and Services to Meet the Individual Needs of Different Users.
                                                </p>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="index4 index5">
                        <div class="index_cont" id="cont_top">
                            <h4 class="title ani" style="padding-top:2rem;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">Last News</h4>
                            <p class="text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">NEWS AND EVENTS</p>
                            <ul id="datalist">
                                <!-- <li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">
                                    <div class="gb"></div>
                                    <div class="conts">
                                        <div class="news_tit">
                                            <h5 class="color">MEDIA  INFORMATION</h5>
                                            <h4>这里是新闻标题这里是新闻标题新闻标题</h4>
                                            <span class="color">20190221</span>
                                        </div>
                                        <div class="news_cont">
                                            <p>这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻这里是新闻这里是新
                                                    闻这里是新闻这里是新闻这里是新闻这
                                                    里是新闻这里是新闻这里是新闻这里是
                                                    新闻这里是新闻这里是新闻这里是新闻
                                                    这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻......</p>
                                        </div>
                                        <a href="javascritpt:;" class="detail">查看详情</a>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.3s">
                                    <div class="gb"></div>
                                    <div class="conts">
                                        <div class="news_tit">
                                            <h5 class="color">MEDIA  INFORMATION</h5>
                                            <h4>这里是新闻标题这里是新闻标题新闻标题</h4>
                                            <span class="color">20190221</span>
                                        </div>
                                        <div class="news_cont">
                                            <p>这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻这里是新闻这里是新
                                                    闻这里是新闻这里是新闻这里是新闻这
                                                    里是新闻这里是新闻这里是新闻这里是
                                                    新闻这里是新闻这里是新闻这里是新闻
                                                    这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻......</p>
                                        </div>
                                        <a href="javascritpt:;" class="detail">查看详情</a>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.6s">
                                    <div class="gb"></div>
                                    <div class="conts">
                                        <div class="news_tit">
                                            <h5 class="color">MEDIA  INFORMATION</h5>
                                            <h4>这里是新闻标题这里是新闻标题新闻标题这里是新闻标题这里是新闻标题新闻标题</h4>
                                            <span class="color">20190221</span>
                                        </div>
                                        <div class="news_cont">
                                            <p>这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻这里是新闻这里是新
                                                    闻这里是新闻这里是新闻这里是新闻这
                                                    里是新闻这里是新闻这里是新闻这里是
                                                    新闻这里是新闻这里是新闻这里是新闻
                                                    这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻......</p>
                                        </div>
                                        <a href="javascritpt:;" class="detail">查看详情</a>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.9s">
                                    <div class="gb"></div>
                                    <div class="conts">
                                        <div class="news_tit">
                                            <h5 class="color">MEDIA  INFORMATION</h5>
                                            <h4>这里是新闻标题这里是新闻标题新闻标题</h4>
                                            <span class="color">20190221</span>
                                        </div>
                                        <div class="news_cont">
                                            <p>这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻这里是新闻这里是新
                                                    闻这里是新闻这里是新闻这里是新闻这
                                                    里是新闻这里是新闻这里是新闻这里是
                                                    新闻这里是新闻这里是新闻这里是新闻
                                                    这里是新闻这里是新闻这里是新闻这里
                                                    是新闻这里是新闻......</p>
                                        </div>
                                        <a href="javascritpt:;" class="detail">查看详情</a>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="foot" id="foot">
                                <div class="foot_top">
                                    <div class="foot_left">
                                        <div class="logo">
                                            <img src="./../src/images/logo.png" alt="">
                                        </div>
                                        <p class="text"><span>Phone：</span> +86-0755-86667894</p>
                                        <p class="text"><span>E-mail：</span> publicmedia@neu-flex.com</p>
                                        <p class="text"><span>Address：</span> Room 210, Building 5, Gaoxin Middle 3rd Rd, Shenzhen Software Park Phase 1, Nanshan District, Shenzhen P.R.C</p>
                                    </div>
                                    <div class="foot_center">
                                        <ul>
                                            <li>
                                                <h4><a href="./index.html">HOME</a></h4>
                                            </li>
                                            <li>
                                                 <h4 class="no_hover"><a href="javascript:;">PRODUCTS</a></h4>
                                                <a href="./psyche.html">PSYCHE ZERO</a>
                                                <a href="./mercury.html">MERCURY</a>
                                            </li>
                                            <li>
                                                <h4><a href="./problem.html">SERVICE</a></h4>
                                            </li>
                                            <li>
                                                <h4 class="no_hover"><a href="javascript:;">MEDIA and NEWS</a></h4>
                                                <a href="./news.html">NEWS</a>
                                                <a href="./news.html">MEDIA REPORTS</a>
                                            </li>
                                            <li>
                                                <h4 class="no_hover"><a href="javascript:;">ABOUT US</a></h4>
                                                <a href="./company_into.html">COMPANY INTRODUCTION</a>
                                                <a href="./contact.html">CONTACT US</a>
                                                <a href="./join_us.html">JOIN US</a>
                                            </li>
                                            <li>
                                                <h4><a href="javascript:;">FORUM</a></h4>
                                                <h4><a href="./cooperation.html">COOPERATION</a></h4>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="foot_right">
                                        <ul>
                                            <li class="wx" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="0s"> 
                                                <img src="./../src/images/wx.png" alt="微信公众号">
                                                <p class="text">WeChat</p>
                                            </li>
                                            <li class="wb" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s"> 
                                                <img src="./../src/images/wb.png" alt="微信公众号">
                                                <p class="text">Weibo</p>
                                            </li>
                                            <li class="tt" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="1s"> 
                                                <img src="./../src/images/tt.png" alt="微信公众号">
                                                <p class="text">Toutiao</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="foot_b">
                                    <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
                                    <p class="b2">本站部分图片转自网络，&nbsp;&nbsp;如有侵权，&nbsp;&nbsp;请联系网站客服删除，&nbsp;&nbsp;谢谢！</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="swiper-slide" id="isShow" style="display: none;"> 
                    <div class="foot" id="foot">
                        <div class="foot_top">
                            <div class="foot_left">
                                <div class="logo">
                                    <img src="./../src/images/logo.png" alt="">
                                </div>
                                <p class="text"><span>Phone：</span> +86-0755-86667894</p>
                                <p class="text"><span>E-mail：</span> publicmedia@neu-flex.com</p>
                                <p class="text"><span>Address：</span> Room 210, Building 5, Gaoxin Middle 3rd Rd, Shenzhen Software Park Phase 1, Nanshan District, Shenzhen P.R.C</p>
                            </div>
                            <div class="foot_center">
                                <ul>
                                    <li>
                                        <h4><a href="./index.html">HOME</a></h4>
                                    </li>
                                    <li>
                                        <h4 class="no_hover"><a href="javascript:;">PRODUCTS</a></h4>
                                        <a href="./psyche.html">PSYCHE ZERO</a>
                                        <a href="./mercury.html">MERCURY</a>
                                    </li>
                                    <li>
                                        <h4><a href="./problem.html">SERVICE</a></h4>
                                    </li>
                                    <li>
                                        <h4 class="no_hover"><a href="javascript:;">MEDIA and NEWS</a></h4>
                                        <a href="./news.html">NEWS</a>
                                        <a href="./news.html">MEDIA REPORTS</a>
                                    </li>
                                    <li>
                                        <h4 class="no_hover"><a href="javascript:;">ABOUT US</a></h4>
                                        <a href="./company_into.html">COMPANY INTRODUCTION</a>
                                        <a href="./contact.html">CONTACT US</a>
                                        <a href="./join_us.html">JOIN US</a>
                                    </li>
                                    <li>
                                        <h4><a href="javascript:;">FORUM</a></h4>
                                        <h4><a href="./cooperation.html">COOPERATION</a></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="foot_right">
                                <ul>
                                    <li class="wx" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="0s"> 
                                        <img src="./../src/images/wx.png" alt="微信公众号">
                                        <p class="text">WeChat</p>
                                    </li>
                                    <li class="wb" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s"> 
                                        <img src="./../src/images/wb.png" alt="微信公众号">
                                        <p class="text">Weibo</p>
                                    </li>
                                    <li class="tt" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="1s"> 
                                        <img src="./../src/images/tt.png" alt="微信公众号">
                                        <p class="text">Toutiao</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="foot_b">
                            <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
                            <p class="b2">本站部分图片转自网络，&nbsp;&nbsp;如有侵权，&nbsp;&nbsp;请联系网站客服删除，&nbsp;&nbsp;谢谢！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>
     </div>

</body>
<script>
        if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
           var  pageSize = 3
           $("#isShow").css("display","block")
        }else{
            $("#isShow").css("display","none")
           var  pageSize = 4;
        }
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable :true,
            },
            navigation: {
                nextEl: '.swiper-button-next1',
            },
            direction: 'vertical',
            slidesPerView: 1,
            allowSlidePrev : true,
            mousewheel : true,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
            spaceBetween: 0,
            on:{
                slideChangeTransitionStart:function(){
                    if(this.activeIndex == 5){
                        $(document).unbind("mousewheel DOMMouseScroll")
                    }
                },
                init: function(){
                    swiperAnimateCache(this); //隐藏动画元素 
                    swiperAnimate(this); //初始化完成开始动画
                }, 
                slideChangeTransitionEnd: function(){ 
                    swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                    //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
                    if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                        if(this.activeIndex == 7){
                            $("#index_jt").fadeOut();
                        }
    
                    }else {
                        if(this.activeIndex == 6){
                            $("#index_jt").fadeOut();
                        }
                    }
                    if(this.activeIndex == 6){
                        var a = 0;
                        setTimeout(function(){
                            $(document).bind("mousewheel DOMMouseScroll", function (e) {     
                                var e = e || window.event; 
                                var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) ||  // chrome & ie
                                            (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1));              // firefox
                       
                                if(navigator.userAgent.indexOf("Firefox")>0){
                                    delta = e.originalEvent.deltaY
                                    if (delta < 0) {
                                        if(a > 0){
                                            $("#cont_top").animate({top:'0'});
                                            $("#foot").animate({bottom:'-10rem'});
                                            // swiper.slideTo(6,200,false)
                                            setTimeout(function(){
                                                swiper.allowSlidePrev = true;
                                            },1000)
                                            a = 0;
                                        }else{
                                        } 
                                    } else {
                                        a++;
                                        $("#cont_top").animate({top:'-10rem'});
                                        $("#foot").animate({bottom:'0'});
                                        swiper.allowSlidePrev = false;
                                        // console.log('向下滚动');
                                    }
                                    return false;
                                }else{
                                    if(!!window.ActiveXObject || "ActiveXObject" in window){
                                        if(e.deltaY == 1){
                                            if(a > 0){
                                                $("#cont_top").animate({top:'0'});
                                                $("#foot").animate({bottom:'-10rem'});
                                                // swiper.slideTo(6,200,false)
                                                setTimeout(function(){
                                                    swiper.allowSlidePrev = true;
                                                },1000)
                                                a = 0;
                                            }else{
                                            } 
                                        }else{
                                            a++;
                                            $("#cont_top").animate({top:'-10rem'});
                                            $("#foot").animate({bottom:'0'});
                                            swiper.allowSlidePrev = false;
                                            // console.log('向下滚动');
                                        }
                                    }else{
                                        if (delta > 0) {
                                            if(a > 0){
                                                $("#cont_top").animate({top:'0'});
                                                $("#foot").animate({bottom:'-10rem'});
                                                // swiper.slideTo(6,200,false)
                                                setTimeout(function(){
                                                    swiper.allowSlidePrev = true;
                                                },1000)
                                                a = 0;
                                            }else{
                                            } 
                                        } else {
                                            a++;
                                            $("#cont_top").animate({top:'-10rem'});
                                            $("#foot").animate({bottom:'0'});
                                            swiper.allowSlidePrev = false;
                                            // console.log('向下滚动');
                                        }
                                        return false;
                                    }
                                }
                                
                                                
                            })
                        },1000)
                        
                    }else{
                        $("#index_jt").fadeIn();
                    }
                    console.log(this.activeIndex);//切换结束时，告诉我现在是第几个slide
                } 
            },
        }) 
        var swiper2 = new Swiper('.swiper-container1', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination1',
                type: 'fraction',
                
            },
            autoplay: {
                delay: 5000,
                stopOnLastSlide: false,
                disableOnInteraction: true,
            },
            on:{
                init: function(){
                    swiperAnimateCache(this); //隐藏动画元素 
                    swiperAnimate(this); //初始化完成开始动画
                }, 
                slideChangeTransitionEnd: function(){ 
                    swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                    //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
                } 
            },
        });
        $(function(){
            $(".swiper-button-prev").click(function(){
                if(window.event){//IE下阻止冒泡
                    event.cancelBubble  = true;
                }else{
                    event.stopPropagation();
                }
            })
            $(".swiper-button-next").click(function(){
                if(window.event){//IE下阻止冒泡
                    event.cancelBubble  = true;
                }else{
                    event.stopPropagation();
                }
            })
            function getData(){
                $.ajax({
                    url:config.url+"New/lists",
                    type:"GET",
                    data:{
                        pageSize:pageSize,
                        page:1,
                        type:0,
                        random:new Date().getTime()
                    },
                    dataType:"json",
                    success:function(data){
                        $("#datalist").html("");
                        if(data.status == 200){
                            if(data.data.length > 0){
                                // $("#datalist").html("<li style='color:#fff;font-size:0.36rem;text-align:center;border:none;'>暂无新闻！</li>")
                                for(var i=0;i<data.data.length;i++){
                                    var html = '<li class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="'+(1+0.3*i)+'s">'+
                                        '<div class="gb"></div><div class="conts"><div class="news_tit">'+
                                        '<h5 class="color">MEDIA  INFORMATION</h5><h4>'+data.data[i].title+'</h4><span class="color">'+data.data[i].date+'</span>'+
                                        '</div><div class="news_cont"><p>'+data.data[i].about+'</p>'+
                                        '</div><a href="./news_cont.html?id='+data.data[i].id+'&type='+data.data[i].type+'" class="detail">查看详情</a></div></li>'
                                    $("#datalist").append(html)
                                }
                            }else{
                                $("#datalist").html("<li style='color:#fff;font-size:0.36rem;text-align:center;border:none;'>暂无新闻！</li>")
                            }
                            
                        }
                    },
                    error:function(err){
                        // $("#datalist").html("<li style='color:#fff;font-size:0.36rem;text-align:center;border:none;'>暂无新闻！</li>")
                    }
                })   
            }
            getData();
        })
      
    </script>
</html>