<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>PSYCHE ZERO</title>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">Neural FLEX</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">HOME</a></li>
            <li class="cp"><a href="javascript:;">PRODUCTS</a>               <div class="child_nav"><span class="sj"></span><a href="./psyche.html" >PSYCHE ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
            <li class="fangan"><a href="./com_plan.html">Integrated Solutions of <br> AI with Neuroscience</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >Program of Decompression Chamber <br> for Financial Institutions</a>
                    <a href="./english.html">Program of Study for Top  Children's <br> Online English Education Company</a>
                    <a href="./teach_plan.html">Program of Primary and <br> Secondary Schools’ Education</a>
                </div>
            </li>
            <li class="active"><a href="./education.html">STEM Kits for Education</a></li>
            <li><a href="./principle.html">SCIENCE</a></li>
            <li><a href="./platform.html">DEVELOP</a></li>
            <li><a href="./download.html">DOWNLOAD</a></li>
            <li><a href="./shop.html">STORE</a></li>
            <li><span><a href="javascript:;" onclick="toURL()">CN</a></span><span class="yx"><a href="javascript:;">EN</a></span></li>
        </ul>
    </div>
    <div class="m_psy">
        <div class="m_psy_cont1">
            <div class="img1">
                <img src="./../src/images/m_psyche/1/1_2.png" alt="">
            </div>
            <div class="img2">
                    <img src="./../src/images/m_psyche/1/1_1.png" alt="">
            </div>
            <p style="padding: 0 0.3rem;">A smart brainwave (EEG) headband <br> that enhances brain abilities and promotes mental health</p>
            <h6>PSYCHE ZERO (赛奇初代)</h6>
            <a href="javascript:;"><img src="./../src/images/m_psyche/1/1_3.png" alt=""></a>
            <ul>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-1.png" alt="">
                    </div>
                    Relax stress
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-2.png" alt="">
                    </div>
                    Regulating emotions
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-3.png" alt="">
                    </div>
                    assorted application
                </li>
                <li>
                    <div>
                        <img src="./../src/images/m_psyche/1/1-4.png" alt="">
                    </div>
                    Enhance focus
                </li>
            </ul>
        </div>
        <div class="m_psy_cont2">
            <img src="./../src/images/m_psyche/2/2_2.png" alt="">
            <p>
                    PSYCHE is a non-invasive EEG headband that can safely measure EEG signals. There are four biosensors in the forehead and two reference electrodes on either side of the ear which made of excellent conductive materials, it can filter external noise and electrical interference effectively that ensure the maximum accuracy of signal interpretation.
            </p>
        </div>
        <div class="m_psy_cont2 m_psy_cont3">
            <img src="./../src/images/m_psyche/3/3_5.png" alt="">
            <p>
                    PSYCHE uses AI proprietary algorithms to monitor brainwave signals—δ, θ, α,β, γ, real time, interprets and reflects changes of brain state, such as "concentration", "relaxation", “mental stress”, “mental fatigue” index, which can help users enhance various functions of their brains.
            </p>
            <ul>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_1.jpg" alt="">
                    </div>
                    <h5>Concentration index</h5>
                    <p>
                        Attention is the behavioral and cognitive process of selectively concentrating on a discrete aspect of information. Concentration index, it shows the intensity of the "concentration" level or "attention" level of users’ mind, and the range of the index value is from 0 to 100.
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_2.jpg" alt="">
                    </div>
                    <h5>Relaxation index</h5>
                    <p>
                        Relaxation is an emotional state of low tension, it is when the body and mind are free from tension and anxiety. Relaxation index, it indicates the level of "calmness" or "relaxation" of users’ mind. The index ranges from 0 to 100.Closing your eyes should be an effective way to improve relaxation as usual.
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_3.jpg" alt="">
                    </div>
                    <h5>Mental Stress</h5>
                    <p>
                        Mental stress means that people have a burden on their minds and have a burden of thought, its synonym is thoughts. Psychological stress is mental stress. Everyone in modern life has experience. Psychological stress generally has three sources of stress: society, life and competition.
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="./../src/images/m_psyche/3/3_4.jpg" alt="">
                    </div>
                    <h5>Mental Fatigue</h5>
                    <p>
                        "Mental fatigue" refers to mental exhaustion caused by heavy mental work, excessive nervous system tension, or long-term monotonous and annoying work. It’s expressed as uneasy, not easy to concentrate, slow thinking, low mood, and reduced work efficiency. "Mental fatigue" refers to the degree of mental fatigue of the users, and the value of the index ranges from 0 to 100.
                    </p>
                </li>
                
            </ul>
        </div>
        <div class="m_psy_cont4">
            <div class="cont">
                <img src="./../src/images/m_psyche/4/4_1.png" alt="">
                <p>Omit the cumbersome wearing steps of the laboratory equipments, PSYCHE only needs 6 sensing electrodes to contact with skin, the brain and the phone would be connected safely. Then, it can pass accurate data such as concentration and relaxation to the cloud with 100% confidentiality.</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont5">
            <div class="cont">
                <img src="./../src/images/m_psyche/5/5_1.png" alt="">
                <p>PSYCHE has both technology sense and comfort cause its innovative design.Its high quality materials make best wearable experience for users.
                    </p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont6">
                <div class="cont">
                <img src="./../src/images/m_psyche/6/6_1.png" alt="">
                <p style="padding: 0 0.3rem;">After the terminal devices collect massive data through the sensing electrodes, it will filter and denoise the signals, and will be transfered to the existing private model and public model of the terminal devices, and then use the patent algorithms to analyze it. At the same time, the filtered, noise-reduced data will also be transmitted to the cloud through the WIFI/cellular network, the AI algorithms in the cloud will also parse the data and continuously optimize the public model based on the characteristics of the data. It will be periodically updated and transmitted to the terminal devices, and a big data model will be built up to generalize the consciousness characteristics.</p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont7">
                <div class="cont">
                <img src="./../src/images/m_psyche/7/7_1.png" alt="">
                <p>8 brain wave training programs<br>
                    Neural feedback training based on vision, hearing, and olfaction, allowing the brain to self-regulate<br>
                    Help users release stress, relieve brain fatigue, improve memory, creativity and other brain abilities<br>
                    Meditate 30-60 minutes a day, you can immediately realize the overall improvement of physical and mental functions<br></p>
            </div>
        </div>
        <div class="m_psy_cont4 m_psy_cont8">
                <div class="cont">
                <img src="./../src/images/m_psyche/7/7_3.png" alt="">
                <p>A variety of brain training apps combine education with pleasure <br>
                    Test and improve six abilities: Attention, Sensitivity, Speed, Problem Solving, Memory, and Emotional Control <br>
                    It's really simple to enhance the cognitive ability of the brain after experiencing every function of the APP </p>
            </div>
        </div>
        <div class="m_psy_cont9">
            <h5>APPLICATION FIELD</h5>
            <p></p>
            <ul>
                <li>
                    <img src="./../src/images/m_psyche/8/8_1.jpg" alt="">
                    <h6>Education</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_2.jpg" alt="">
                    <h6>Health</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_3.jpg" alt="">
                    <h6>Entertainment</h6>
                </li>
                <li>
                    <img src="./../src/images/m_psyche/8/8_4.jpg" alt="">
                    <h6>Art</h6>
                </li>
            </ul>
        </div>
        <div class="m_psy_cont10">
            <ul>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i1.png" alt="">
                    </div>
                    <div class="r_cont">
                        <h6>1、Outer Ring Belt of Headband</h6>
                        <p>Made of silicone material, it is soft and can fit tightly on the skin of the head, allowing you to experience the comfortable wearing feeling.</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i2.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>2、Reference Electrodes (on both right and left ears)</h6>
                            <p>Its surface is plated with gold, which can reduce the impedance to access medical-grade accurate data.</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i3.png" alt="">
                    </div>
                    <div class="r_cont">
                            <h6>3、High-precision Medical Grade Chip </h6>
                            <p>The chip can quickly process massive brainwave data, intelligently analyze users’ brain concentration, relaxation and other index values.</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i4.png" alt="">
                    </div>
                    <div class="r_cont">
                        <h6>4、Weight</h6>
                        <p>Weighs only 0.45 pounds, PSYCHE is very light and it’s comfortable when wear it.</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i5.png" alt="">
                    </div>
                    <div class="r_cont">
                        <h6>5、The Battery</h6>
                        <p>20 hours of 800mAh Lithium electronic rechargeable battery life.</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="./../src/images/m_psyche/9/i6.png" alt="">
                    </div>
                    <div class="r_cont">
                        <h6>6、Bluetooth Synchronization</h6>
                        <p>Transmit brainwave data wirelessly via Bluetooth 5.0 with low power consumption to sync with Smartphones and Tablets</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m_psy_cont11">
            <h5 class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Support Application Extensions</h4>
            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">Accompanying applications of PSYCHE will be packaged as SDK,<br>  and open API interface are available for secondary development by tech fans, our partners or other companies.</p>
            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s" style="padding-bottom: 0">
                <img src="./../src/images/psyche/psy8.jpg" alt="" style="height: 8rem;">
            </div>

        </div>
        <div class="m_psy_cont12">
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Technical Specs</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                <li><span></span><p>Channels for collecting EEG signals: Four</p></li>
                <li><span></span><p>Bandwidth: 24bit </p></li>
                <li><span></span><p>Battery: Lithium ion</p></li>
                <li><span></span><p>Support platforms: Windows (XP/7/8/10), Mac (0SX 10.8 or higher),<br> iOS (iOS 8 or higher) and Android (Android 2.3 or higher)
                </p></li>
                <li><span></span><p>Electrode fitting detection: Automatic detection of shedding</p></li>
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">Physical Specs</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
                <li><p>Size: 58*22*15mm</p></li>
                <li><p>Weighs: 200g/0.45pounds</p></li>
                <li><p>Working current: 15mA</p></li>
                <li><p>Standby current: 50μA</p></li>
                <li><p>Normal working time: It can be used <br> continuously for about 4 hours when fully charged</p></li>
                <li><p>The standby time: More than 2 years</p></li>
                <li><p>Operating voltage: 3.7V-4.2V</p></li> 
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.2s">Measures</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
                <li><span></span><p>Outputs 24bit Raw-Brainwaves (3 - 100Hz) with sampling rate at 200Hz</p></li>
                <li><span></span><p>Outputs EEG power spectrums (Alpha, Beta, etc.)</p></li>
            </ul>
            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.8s">Bluetooth</h6>
            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2.1s">
                <li><span></span><p>Version: BLE5.0</p></li>
                <li><span></span><p>Connection mode: Auto-binding</p></li>
                <li><span></span><p>Bluetooth range: within 15 meters</p></li>
            </ul>
        </div>
        <div class="m_psy_cont13">

        </div>
    </div>
</body>
</html>