<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>PSYCHE ZERO</title>
    <script src="./../src/js/swiper.min.js"></script>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <script src="./../src/js/swiper.animate1.0.3.min.js"></script>
    <link rel="stylesheet" href="../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/animate.min.css">
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
    <style>
        .swiper-slide{height: 100% !important;}
    </style>
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">Neural FLEX</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">HOME</a></li>
            <li class="cp active"><a href="javascript:;">PRODUCTS
                </a>
                <div class="child_nav">
                    <span class="sj"></span>
                     <a href="./psyche.html" >PSYCHE ZERO</a>
                     <a href="./mercury.html">MERCURY</a>
                </div>
             </li>
             <li class="fangan"><a href="./com_plan.html">Integrated Solutions of <br> AI with Neuroscience</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >Program of Decompression Chamber <br> for Financial Institutions</a>
                    <a href="./english.html">Program of Study for Top  Children's <br> Online English Education Company</a>
                    <a href="./teach_plan.html">Program of Primary and <br> Secondary Schools’ Education</a>
                </div>
            </li>
            <li><a href="./education.html">STEM Kits for Education</a></li>
            <li><a href="./principle.html">SCIENCE</a></li>
            <li><a href="./platform.html">DEVELOP</a></li>
            <li><a href="./download.html">DOWNLOAD</a></li>
            <li><a href="./shop.html">STORE</a></li>
            <li><span><a href="./../../CN/view/index.html">CN</a></span><span class="yx"><a href="javascript:;">EN</a></span></li>
        </ul>
    </div>
    <div class="mercury psyche">
    <div class="swiper-container swiper-container-vertical">
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                    <div class="ed_top psyche1">
                        <div class="ed1_txt">
                            <h4 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">PSYCHE ZERO （赛奇初代）</h4>
                            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">Get into Your Mind</p>
                            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">A smart brainwave (EEG) headband that <br> enhances brain abilities and promotes mental health</p>
                            <a href="javascript:;" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
                                <img src="./../src/images/psyche/play.png" alt="">
                            </a>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                    <div class="ed_top psyche2">
                        <div class="ed1_txt">
                            <h4 class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">Product Characteristics</h4>
    
                            <p class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">PSYCHE is a non-invasive EEG headband that can safely measure EEG signals. There are four biosensors in the forehead and two reference electrodes on either side of the ear which made of excellent conductive materials, it can filter external noise and electrical interference effectively that ensure the maximum accuracy of signal interpretation.</p>
                           
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                    <div class="mercury2 mercury4 psyche3 pos_rel">
                        <div class="pos_ab cont_with">
                            <h5 class="title ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">Translate Brain Activity Signals with Patented EEG Algorithms</h5>
                            <p class="text ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0.5s">PSYCHE uses AI proprietary algorithms to monitor brainwave signals—δ, θ, α,β, γ, real time, interprets and reflects changes of brain state, such as "concentration", "relaxation", “mental stress”, “mental fatigue” index, which can help users enhance various functions of their brains.</p>
                            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                <div class="img_c"> <img src="./../src/images/psyche/psy1.jpg" alt=""> <h5>Concentration index</h5></div>
                                <p>Attention is the behavioral and cognitive process of selectively concentrating on a discrete aspect of information. Concentration index, it shows the intensity of the "concentration" level or "attention" level of users’ mind, and the range of the index value is from 0 to 100.</p>
                            </div>
                            <div class="img ani img2" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.8s">
                                <div class="img_c"> <img src="./../src/images/psyche/psy2.jpg" alt=""> <h5>Relaxation index</h5></div>
                                <p>Relaxation is an emotional state of low tension, it is when the body and mind are free from tension and anxiety. Relaxation index, it indicates the level of "calmness" or "relaxation" of users’ mind. The index ranges from 0 to 100.Closing your eyes should be an effective way to improve relaxation as usual.</p>
                            </div>
                            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.1s">
                                <div class="img_c"> <img src="./../src/images/psyche/psy3_3.jpg" alt=""> <h5>Mental Stress</h5></div>
                                <p>Mental stress means that people have a burden on their minds and have a burden of thought, its synonym is thoughts. Psychological stress is mental stress. Everyone in modern life has experience. Psychological stress generally has three sources of stress: society, life and competition.</p>
                            </div>
                            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.4s">
                                <div class="img_c"> <img src="./../src/images/psyche/psy3_4.jpg" alt=""> <h5>Mental Fatigue</h5></div>
                                <p>"Mental fatigue" refers to mental exhaustion caused by heavy mental work, excessive nervous system tension, or long-term monotonous and annoying work. It’s expressed as uneasy, not easy to concentrate, slow thinking, low mood, and reduced work efficiency. "Mental fatigue" refers to the degree of mental fatigue of the users, and the value of the index ranges from 0 to 100.</p>
                            </div>
                        </div>
                        
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                    <div class="ed_top psyche4">
                        <div class="ed1_txt">
                            <div class="psyche4_img">
                                <!-- <img src="./../src/images/psyche/rw2.png" alt="" >
                                <div class="left ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                    <span class="point b1"><span><span></span></span></span> 
                                </div>
                                <div class="right ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                    <span class="point b2"><span><span></span></span></span>
                                </div> -->
                                <h5 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Precision and Safe Biosensing Technology <br>
                                    Easy to Set up a Brain-Computer Connection with Simple Wearing Steps
                                    </h5>
                                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">Omit the cumbersome wearing steps of the laboratory equipments, PSYCHE only needs 6 sensing electrodes to contact with skin, the brain and the phone would be connected safely. Then, it can pass accurate data such as concentration and relaxation to the cloud with 100% confidentiality.</p>
                            </div>
                           
    
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="ed_top psyche5">
                        <div class="ed1_txt">
                            <h4 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Patent Design Creates Perfect Appearance</h4>
                            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">PSYCHE has both technology sense and comfort cause its innovative design.</p>
                            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">Its high quality materials make best wearable experience for users.</p>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-next pos_rel" style="height: 986px; margin-bottom: 30px;">
                    <div class="psyche7 psyche9 pos_ab">
                        <div class="img ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">
                            <img src="./../src/images/psyche/psy9.jpg" alt="">
                        </div>
                        <h4 class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Terminal Devices and Cloud Dual Algorithms Analysis to Establish Big Data Model</h4>
                        <p class="text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">After the terminal devices collect massive data through the sensing electrodes, it will filter and denoise the signals, and will be transfered to the existing private model and public model of the terminal devices, and then use the patent algorithms to analyze it. At the same time, the filtered, noise-reduced data will also be transmitted to the cloud through the WIFI/cellular network, the AI algorithms in the cloud will also parse the data and continuously optimize the public model based on the characteristics of the data. It will be periodically updated and transmitted to the terminal devices, and a big data model will be built up to generalize the consciousness characteristics.</p>
                        

                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" >
                    <div class="mercury4 psyche_4 pos_rel">
                        <div class="pos_abs">
                                <div class="img ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                    <img src="./../src/images/psyche/psy5.jpg" alt="">
                                    <div class="cont ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="1s">
                                        <h5>Focus on Brain Health and Provide a Healthier Lifestyle for the Brain</h5>
                                        <p>8 brain wave training programs<br>
                                            Neural feedback training based on vision, hearing, and olfaction, allowing the brain to self-regulate<br>
                                            Help users release stress, relieve brain fatigue, improve memory, creativity and other brain abilities<br>
                                            Meditate 30-60 minutes a day, you can immediately realize the overall improvement of physical and mental functions<br>
                                                </p>
                                    </div>
                                </div>
                                <div class="img ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                    <img src="./../src/images/psyche/psy6.jpg" alt="">
                                    <div class="cont ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">
                                        <h5>Improve Attention and Strengthen Brain Cognitive Abilities</h5>
                                        <p>A variety of brain training apps combine education with pleasure <br>
                                            Test and improve six abilities: Attention, Sensitivity, Speed, Problem Solving, Memory, and Emotional Control <br>
                                            It's really simple to enhance the cognitive ability of the brain after experiencing every function of the APP </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="ed_top psyche6 pos_rel">
                        <div class="ed1_txt pos_ab">
                                <h5 style="font-size: 0.5rem;font-weight: 600;color: #fff;margin-bottom: 0.5rem;" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">Structural properties of headband</h5>
                            <ul class="td">
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                                    <span class="icon1"></span>
                                    <div>
                                        <h6>1、Outer Ring Belt of Headband</h6>
                                        <p>Made of silicone material, it is soft and can fit tightly on the skin of the head, allowing you to experience the comfortable wearing feeling.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.6s">
                                    <span class="icon2"></span>
                                    <div>
                                        <h6>2、Reference Electrodes (on both right and left ears)</h6>
                                        <p>Its surface is plated with gold, which can reduce the impedance to access medical-grade accurate data.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
                                    <span class="icon3"></span>
                                    <div>
                                        <h6>3、High-precision Medical Grade Chip </h6>
                                        <p>The chip can quickly process massive brainwave data, intelligently analyze users’ brain concentration, relaxation and other index values.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="1.2s">
                                    <span class="icon4"></span>
                                    <div>
                                        <h6>4、Weight</h6>
                                        <p>Weighs only 0.45 pounds, PSYCHE is very light and it’s comfortable when wear it.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
                                    <span class="icon5"></span>
                                    <div>
                                        <h6>5、The Battery</h6>
                                        <p>20 hours of 800mAh Lithium electronic rechargeable battery life.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="1.8s">
                                    <span class="icon6"></span>
                                    <div>
                                        <h6>6、Bluetooth Synchronization</h6>
                                        <p>Transmit brainwave data wirelessly via Bluetooth 5.0 with low power consumption to sync with Smartphones and Tablets</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-next" style="height: 986px; margin-bottom: 30px;">
                    <div class="psyche7 pos_rel">
                        <div class="pos_ab">
                            <h4 class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Support Application Extensions</h4>
                            <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">Accompanying applications of PSYCHE will be packaged as SDK, and open API interface are available for secondary development by tech fans, our partners or other companies.</p>
                            <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s" style="padding-bottom: 0">
                                <img src="./../src/images/psyche/psy8.jpg" alt="" style="height: 8rem;">
                            </div>
        
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="height: 986px; margin-bottom: 30px;">
                    <div class="psyche11 psyche7 pos_rel">
                        <div class="pos_ab cont_with">
                            <h5 class="title ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">APPLICATION FIELDS</h5>
                            <!-- <p class="text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s" style="color: #fff;">APPLICATION FIELDS</p> -->
                            <ul>
                                <li class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.6s"><img src="./../src/images/psyche/p1_1.jpg" alt="">
                                    <div class="file_cont"> 
                                        <h6>Education</h6>
                                        <p>Improve students’ attention and learning efficiency, monitor children's learning characteristics and achieve "Personalized Learning."</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.6s"><img src="./../src/images/psyche/p1_2.jpg" alt="">
                                    <div class="file_cont"> 
                                        <h6>Health</h6>
                                        <p>Neurofeedback training allows users to have a healthier brain, after meditation exercises, your brain pressure will be lowered (it can effectively reduce the secretion of stress hormones in the body) and your sub-health can also be improved.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.9s"><img src="./../src/images/psyche/p1_3.jpg" alt="">
                                    <div class="file_cont"> 
                                        <h6>Entertainment</h6>
                                        <p>After wearing PSYCHE and you will own a magical power.You can be like the scarlet witch in The Avengers, who can use "Mind Power" to harness reality, control intelligent devices and games at will.</p>
                                    </div>
                                </li>
                                <li class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.9s"><img src="./../src/images/psyche/p1_4.jpg" alt="">
                                    <div class="file_cont"> 
                                        <h6>Art</h6>
                                        <p>PSYCHE helps you express musical sounds by using brain state.Brainwaves will be intelligently mapped to various musical parameters. It can create sonic textures and contours by a plugin to compose extraordinary songs you want, make you achieve your artistic creation dream.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                    <div class="ed_top psyche5 psyche10 pos_rel">
                        <div class="ed1_txt pos_ab" style="left: 30%;">
                            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">Technical Specs</h6>
                            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
                                <li><span></span><p>Channels for collecting EEG signals: Four</p></li>
                                <li><span></span><p>Bandwidth: 24bit </p></li>
                                <li><span></span><p>Battery: Lithium ion</p></li>
                                <li><span></span><p>Support platforms: Windows (XP/7/8/10), Mac (0SX 10.8 or higher),<br> iOS (iOS 8 or higher) and Android (Android 2.3 or higher)
                                </p></li>
                                <li><span></span><p>Electrode fitting detection: Automatic detection of shedding</p></li>
                            </ul>
                            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.6s">Physical Specs</h6>
                            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
                                <li><p>Size: 58*22*15mm</p></li>
                                <li><p>Weighs: 200g/0.45pounds</p></li>
                                <li><p>Working current: 15mA</p></li>
                                <li><p>Standby current: 50μA</p></li>
                                <li><p>Normal working time: It can be used <br> continuously for about 4 hours when fully charged</p></li>
                                <li><p>The standby time: More than 2 years</p></li>
                                <li><p>Operating voltage: 3.7V-4.2V</p></li> 
                            </ul>
                            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.2s">Measures</h6>
                            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.5s">
                                <li><span></span><p>Outputs 24bit Raw-Brainwaves (3 - 100Hz) with sampling rate at 200Hz</p></li>
                                <li><span></span><p>Outputs EEG power spectrums (Alpha, Beta, etc.)</p></li>
                            </ul>
                            <h6 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1.8s">Bluetooth</h6>
                            <ul class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2.1s">
                                <li><span></span><p>Version: BLE5.0</p></li>
                                <li><span></span><p>Connection mode: Auto-binding</p></li>
                                <li><span></span><p>Bluetooth range: within 15 meters</p></li>
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                    <div class="ed_top  psyche8">
                        <div class="ed1_txt">
                            <h4 class="first ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">共<img src="./../src/images/psyche/xiang.png" alt="">未来生活</h4>
                            <h4 class="last ani"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">与蝴蝶女神（PSYCHE）</h4>
                        </div>
                    </div> 
                </div>
               
          
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>
    </div>
    
</body>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable :true,
        },
        direction: 'vertical',
        slidesPerView: 1,
        mousewheel : true,
        spaceBetween: 0,
        on:{
            init: function(){
                swiperAnimateCache(this); //隐藏动画元素 
                swiperAnimate(this); //初始化完成开始动画
            }, 
            slideChangeTransitionEnd: function(){ 
                swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
            } 
        },
    });
</script>
</html>