<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Program of Primary and Secondary Schools’ Education</title>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">Neural FLEX</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">HOME</a></li>
            <li class="cp"><a href="javascript:;">PRODUCTS</a>               <div class="child_nav"><span class="sj"></span><a href="./psyche.html" >PSYCHE ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
            <li class="fangan active"><a href="./com_plan.html">Integrated Solutions of <br> AI with Neuroscience</a>
                <div class="child_nav">
                    <span class="sj"></span>
                    <a href="./finance.html" >Program of Decompression Chamber <br> for Financial Institutions</a>
                    <a href="./english.html">Program of Study for Top  Children's <br> Online English Education Company</a>
                    <a href="./teach_plan.html">Program of Primary and <br> Secondary Schools’ Education</a>
                </div>
            </li>
            <li><a href="./education.html">STEM Kits for Education</a></li>
            <li><a href="./principle.html">SCIENCE</a></li>
            <li><a href="./platform.html">DEVELOP</a></li>
            <li><a href="./download.html">DOWNLOAD</a></li>
            <li><a href="./shop.html">STORE</a></li>
            <li><span><a href="./../../CN/view/index.html">CN</a></span><span class="yx"><a href="javascript:;">EN</a></span></li>
        </ul>
    </div> 
    <div class="teach_plan">
        <div class="plan1 pos_rel">
            <div class="pos_abs"><h4 class="title">Program of Primary and Secondary Schools’ Education</h4>
                <p class="text">Break the Traditional Teaching Mode  Change the Status Quo of Traditional Education  <br>
                    Help Students Improve their Learning Efficiency  Stimulate their Creativity and other Brain Cognitive Abilities<br>
                    Ensure Students' Mental Health through Psychological Decompression Room Train More Innovative Practical Talents for Schools and Countries</p> </div>
            <div class="img">
                <img src="./../src/images/teach_plan/plan2.jpg" alt="">
            </div>
        </div>
        <div class="plan1 plan8">
            <h4 class="title">Why Choose Program of Primary and Secondary Schools’ Education of Neural FLEX?</h4>
            <p class="text">The traditional education teaching method is lagging behind <br>  The essence of "test-oriented education" is deeply rooted
                It is teacher-centered and lacks communication and feedback between students and teachers <br>  Unable to teach students in accordance with their aptitude
                Therefore,<br> the emergence of modern technologies such as the Internet, big data, and artificial intelligence is crucial to the transformation of teaching methods. <br> The Neural FLEX Program of Primary and Secondary Schools’ Education is based on modern technology such as artificial intelligence,<br> big data, and bio-feedback technology. It can improve the students' lack of concentration, distraction, <br> improve their learning efficiency, and fundamentally improve the current situation of primary and secondary school education.</p>
        </div>
        <div class="plan1 plan8">
            <div class="cont_with">
            <h4 class="title">System Structure Content of Educational Program</h4>
            <span class="jt">
                <img src="./../src/images/teach_plan/jt.png" alt="">
            </span>
            <div class="plan_cont">
                <div class="img">
                        <img src="./../src/images/teach_plan/plan3.jpg" alt="">
                </div>
                <div class="plan_text">
                    <h5>Intelligent Brain Training Chamber</h5>
                    <p>The project takes EEG biofeedback technology as the core, combined with sand table training, emotional management, psychological communication, attention behavior training and other courses to help improve students' ADHD and attention deficit such issues.</p>
                    <!-- <ul>
                        <li><span>
                            <img src="../src/images/teach_plan/1.png" alt="">
                        </span>沙盘室，开展团体沙盘或个体沙盘。</li>
                        <li><span><img src="../src/images/teach_plan/2.png" alt=""></span>个体咨询室，进行个体心理咨询或正念训练等</li>
                        <li><span><img src="../src/images/teach_plan/3.png" alt=""></span>团体辅导及健脑活动室，开展团体辅导或使用智能<br>
                            竞速小车等需要开阔空间的活动。<br>
                            （左图图解）
                        </li>
                    </ul> -->
                </div>
            </div>
            </div>
        </div>
        <div class="plan1 plan2">
            <div class="plan_cont">
                <div class="cont_with">
                <div class="plan_text">
                        <h5>Real-Time Class Feedback System</h5>
                        <p>The system is used for teachers to monitor students' attention in real time in class, aiming to improve the classroom learning efficiency of primary and middle school students aged 6-18. Students will wear brainwave headbands during class. The teacher uses multidimensional intelligent means to adjust the students' physical and mental state according to the data from the feedback of headband, so as to reach an efficient teaching state with loose and prosperous.</p>
                      
                    </div>
                <div class="img">
                    <img src="./../src/images/teach_plan/plan8.jpg" alt="" style="width: 100%;">
                    <!-- <img src="./../src/images/teach_plan/plan7.png" alt=""> -->
                </div>
                </div>
            </div>
        </div>
        <div class="plan1 plan2 plan3">
            <div class="plan_cont">
                <div class="cont_with">
                <div class="img">
                    <img src="./../src/images/teach_plan/plan6.jpg" alt="">
                </div>
                <div class="plan_text">
                    <h5>Class Teaching Quality Evaluation System</h5>
                    <p>The whole class wears brainwave headbands, collects attention data for statistical analysis, and judges whether teachers' classrooms can mobilize students' interest according to the consistency index of students' attention trends. At the same time, the score test is used to judge the degree of absorption of knowledge by the students, so as to determine the role of the teacher's teaching in the student's learning process, and to make an objective assessment of the teacher's teaching level, which belongs to the process evaluation system.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="plan1 plan2 plan3">
            <div class="plan_cont">
                <div class="cont_with">
                <div class="plan_text">
                    <h5>STEM Class</h5>
                    <p>By using intelligent hardware products, we will guide the brains of primary and middle school students to help them allocate brain resources in a reasonable way, improve the efficiency of using brain, and let children experience different novel and challenging indoor and outdoor activities to promote child's intellectual development and make their brains more creative.</p>
                </div>
                <div class="img">
                    <img src="./../src/images/teach_plan/plan1.jpg" alt="">
                </div>
                </div>
            </div>
        </div>
        <div class="plan1 plan2 plan3">
            <div class="plan_cont">
                <div class="cont_with">
                <div class="img">
                    <img src="./../src/images/teach_plan/plan5.jpg" alt="">
                </div>
                <div class="plan_text">
                    <h5>The Comprehensive Evaluation System of Students' Learning</h5>
                    <p>The system will monitor the student's learning conditions at home. It will avoid the interference of school group learning, the headband will collect completely personalized data features, use artificial intelligence algorithms to obtain the students’ learning efficiency model, comprehensively evaluate the students' knowledge level and ability level, and personalized learning programs can be generated in a targeted manner.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="plan4">
            <div class="img">
                <img src="./../src/images/teach_plan/plan4.jpg" alt="">
            </div>
            <div class="plan_text">
                <h5>Mental Depression Chamber</h5>
                <p>Utilize intelligent lighting, intelligent aromatherapy, intelligent speaker, combined with brainwave headband to monitor the physiological data of employees, through real-time feedback of the system to match different lighting， scent and music combination, to create a external environment that is more conducive to enter a relaxed state.</p>
            </div>
        </div>
        <div class="plan1">
                <h4 class="title" style="color: #000">Predictive Effects</h4>
                <p class="text" style="color: #000">The brainwave headband selects a comprehensive scheme for structural design according to the head shape characteristics of different groups including children, adults, men, and women, <br> the users can adjust the size of headband according to their own situations. The headband is made of soft rubber material weighing only 200g. After it is put into use in the future,<br> users will get a comfortable wearing experience. In addition, the brainwave headband uses TPU radiation protection materials,<br> which will safely measure the user's original brainwaves, process and output EEG power spectrum (Alpha, Beta, etc.). <br> Through the AI algorithms, the cloud intelligent model is processed and generated to obtain personal characteristics of each user,<br> and the six system training programs in the project can be used to realize the vision of improving students' attention.</p>
                <p class="text" style="color: #000">It will break the traditional teaching mode, help students improve learning efficiency,<br> stimulate students' creativity and other cognitive abilities of the brain, and combine psychological knowledge. <br> Through the psychological decompression chamber to protect students' mental health, and train more innovative practical talents for schools and our country.</p>
                <div class="img" style="padding: 2rem 0">
                    <img src="./../src/images/teach_plan/th.png" alt="" style="width: 10rem;height: 3.57rem;">
                </div>
            </div>
    </div>
    <div class="foot">
        <div class="foot_top">
            <div class="foot_left">
                <div class="logo">
                    <img src="./../src/images/logo.png" alt="">
                </div>
                <p class="text"><span>Phone：</span> +86-0755-86667894</p>
                <p class="text"><span>E-mail：</span> publicmedia@neu-flex.com</p>
                <p class="text"><span>Address：</span>Room 210, Building 5, Gaoxin Middle 3rd Rd, Shenzhen Software Park Phase 1, Nanshan District, Shenzhen P.R.C</p>
            </div>
            <div class="foot_center">
                <ul>
                    <li>
                        <h4><a href="./index.html">HOME</a></h4>
                    </li>
                    <li>
                         <h4 class="no_hover"><a href="javascript:;">PRODUCTS</a></h4>
                        <a href="./psyche.html">PSYCHE ZERO</a>
                        <a href="./mercury.html">MERCURY</a>
                    </li>
                    <li>
                        <h4><a href="./problem.html">SERVICE</a></h4>
                    </li>
                    <li>
                        <h4 class="no_hover"><a href="javascript:;">MEDIA and NEWS</a></h4>
                        <a href="./news.html">NEWS</a>
                        <a href="./news.html">MEDIA REPORTS</a>
                    </li>
                    <li>
                        <h4 class="no_hover"><a href="javascript:;">ABOUT US</a></h4>
                        <a href="./company_into.html">COMPANY INTRODUCTION</a>
                        <a href="./contact.html">CONTACT US</a>
                        <a href="./join_us.html">JOIN US</a>
                    </li>
                    <li>
                        <h4><a href="javascript:;">FORUM</a></h4>
                        <h4><a href="./cooperation.html">COOPERATION</a></h4>
                    </li>
                </ul>
            </div>
            <div class="foot_right">
                <ul>
                    <li class="wx"> 
                        <img src="./../src/images/wx.png" alt="微信公众号">
                        <p class="text">WeChat</p>
                    </li>
                    <li class="wb"> 
                        <img src="./../src/images/wb.png" alt="微信公众号">
                        <p class="text">Weibo</p>
                    </li>
                    <li class="tt"> 
                        <img src="./../src/images/tt.png" alt="微信公众号">
                        <p class="text">Toutiao</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot_b">
            <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
            <p class="b2">Some pictures of this site are transferred from the network. If there is any infringement, please contact the author to delete them. Thank you!</p>
        </div>
    </div>
</body>
</html>
