.header{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
}
.header .logo{
    float: left;
    height: 2rem;
    width: 4rem;
}
.header .logo a{
    display: block;
    text-indent: -10000000px;
    background: url("./../images/logo.png") no-repeat center center;
    background-size: 2.7rem 1.1rem;
}
.header .nav{
    float: right;
    height: 2rem;
    line-height: 2rem;
    font-size: 0;
}
.header .nav li{
    display: inline-block;
    vertical-align: top;
    height: 1rem;
    font-size: 0.28rem;
    margin: 0 0.2rem;
    margin-top: 0.5rem;
    line-height: 1rem;
    box-sizing: border-box;
}
.header .nav li.active{
    border-bottom: 3px solid #fff
}
.header .nav li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.header .nav li span {
    display: inline-block;
    width: 0.72rem;
    height: 0.48rem;
    border: 1px solid #fff;
    text-align: center;
    line-height: 0.48rem;
}
.header .nav li span.yx{
    background: #fff;
    
}
.header .nav li span.yx a{
    color: #000;
}
@media (max-width: 1040px){
   .header .nav li {
       display: none;
   }
}
/* 教育套件页面 */
.ed_top{
    width:100%;
    height: 15rem;
    background: url("./../images/ed_top.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 0.8rem;
}
.ed_top .ed1_txt {
    text-align: center;
    padding-top: 2rem;
}
.ed_top .ed1_txt h3{ font-size: 1rem; color:#28a7e1;margin-bottom: 1.8rem;}
.ed_top .ed1_txt h4{ font-size: 0.64rem; color:#fff;margin-bottom: 0.2rem;}
.ed_top .ed1_txt p{ font-size: 0.28rem; color:#fff;margin-bottom: 0.1rem;}
.ed2{width: 100%;box-sizing: border-box;padding: 1rem;font-size: 0;}
.ed2 .ed2_left{display: inline-block;width: 45%;margin-right: 10%;height: 18rem;
}
.ed2 .ed2_right{display: inline-block;width: 45%;height: 18rem;}