<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>公司介绍</title>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <script src="./../src/js/swiper.min.js"></script>
    <script src="./../src/js/swiper.animate1.0.3.min.js"></script>
    <link rel="stylesheet" href="../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/animate.min.css">
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
</head>
<body>
    <div class="header">
        <h1 class="logo"><a href="./index.html">易念科技</a></h1>
        <div class="sq"><a href="javascript:;"></a></div>
        <ul class="nav">
            <li><a href="./index.html">首页</a></li>
            <li class="cp"><a href="javascript:;">产品系列                </a>                <div class="child_nav">                     <a href="./psyche.html" >PSYCHE ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
            <li class="fangan"><a href="./com_plan.html">神经科学AI综合解决方案</a>
                <div class="child_nav">
                    <a href="./finance.html" >金融机构减压室方案</a>
                    <a href="./english.html">少儿在线英语教育方案</a>
                    <a href="./teach_plan.html">中小学学习教育方案</a>
                </div>
            </li>
            <li><a href="./education.html">STEM教育套件</a></li>
            <li><a href="./principle.html">科学原理</a></li>
            <li><a href="./platform.html">开发</a></li>
            <li><a href="./download.html">软件下载</a></li>
            <li><a href="./shop.html">商店</a></li>
            <li><span class="yx"><a href="javascript:;">CN</a></span><span><a href="javascript:;">EN</a></span></li>
        </ul>
    </div>
    <div class="swiper-container swiper-container-vertical">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-active" style="height: 986px; margin-bottom: 30px;">
                <div class="ed_top company1">
                    <div class="ed1_txt">
                        <h4 class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">专注于全球领先的生物电人工智能综合解决方案</h4>
                        <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.5s">易念科技（深圳）有限公司成立于2018年，是一家自主研发脑机接口技术的现代科技公司，<br>
                                公司对包括神经科学、信号检测、信号处理、机器学习、模式识别、控制理论、心理学等多个学科进行了交叉研究。</p>
                        <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="1s">公司以头箍和手环等可穿戴设备为硬件核心，<br>
                                目前已经推出了一款非侵入式的EEG头箍——PSYCHE（赛奇）。</p>
                     </div>
                </div> 
            </div>
            <div class="swiper-slide swiper-slide-next" style="height: 986px; margin-bottom: 30px;">
                <div class="ed2 company2 rotate pos_rel">
                    <div class="pos_abs">
                        <div class="c_left">
                                <div class="left_top ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                    <h5>直达热门领域</h5>
                                    <p>全面覆盖教育、体育、娱乐、</p>
                                    <p>医疗等热门领域，提供多样化</p>
                                    <p>产品服务，满足个性化需求</p>
                                </div>
                                <div class="left_bottom ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.8s">
                                    <h5>顶尖技术团队</h5>
                                    <p>著名高校毕业，15年工作经验</p>
                                    <p>精英团队,拥有世界顶级研究机</p>
                                    <p>构的合作关系和联合实验室</p>
                                </div>
                            </div>
                            <div class="center ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s"><div>领先的易念</div></div>
                            <div class="c_right">
                                <div class="right_top ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                    <h5>知识产权</h5>
                                    <p>公司申请了七项脑机接口技术</p>
                                    <p>专利和四款软件著作权，拥有</p>
                                    <p>完全自主的知识产权</p>
                                </div>
                                <div class="right_bottom ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.8s">
                                    <h5>创始人</h5>
                                    <p>公司创始人冯先生拥有多年海</p>
                                    <p>主导开发的项目屡获日内瓦国</p>
                                    <p>际发明金奖，并在国际期刊上</p>
                                    <p>发表多篇国际性论文。</p>
                                </div>
                            </div>
                    </div>
                   
                </div>
            </div>
            <div class="swiper-slide" style="height: 986px; margin-bottom: 30px;">
                <div class="company3 pos_rel">
                    <div class="cont_with pos_ab">
                            <div class="up">
                                    <div class="img ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                        <h5 class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s">FLEX的内涵</h5>
                                    </div>
                                    <div class="text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                        <div class="t_cont">
                                            <h5>F=Future    L=Link    E=Experience    X=Xform（转换）</h5>
                                            <p>连接未来，将神奇的体验融入黑科技产品中，改善人类生活品质。<br>
                                                    注：公司核心创始人姓名首字母都在里面（冯超-F、李先华-L、易文明-E、谢谊乒-X）</p>
                                        </div>
                                    </div>
                            </div>
                            <div class="down">
                                    <div class="text ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s">
                                        <div class="t_cont">
                                            <h5></h5>
                                            <p>使命：轻松探索，启迪未来<br>
                                                    愿景：致力成为脑机接口行业领军者、值得信赖和尊重的科技公司</p>
                                        </div>
                                    </div>
                                    <div class="img ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0s">
                                        <h5 class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s">企业文化</h5>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-slide" style="height: 986px; margin-bottom: 30px;">
                <div class="company3 company4">
                    
                </div>
            </div> -->
            <div class="swiper-slide" style="height: 986px; margin-bottom: 30px;">
                <div class="foot">
                    <div class="foot_top">
                        <div class="foot_left">
                            <div class="logo">
                                <img src="./../src/images/logo.png" alt="">
                            </div>
                            <p class="text"><span>电话：</span> +86-0755-86667894</p>
                            <p class="text"><span>邮箱：</span> publicmedia@neu-flex.com</p>
                            <p class="text"><span>地址：</span> 深圳市南山区科技园高新中三道
                                    二号深圳软件园5栋210</p>
                        </div>
                        <div class="foot_center">
                            <ul>
                                <li>
                                    <h4><a href="./index.html">首页</a></h4>
                                </li>
                                <li>
                                    <h4><a href="javascript:;">产品列表</a></h4>
                                    <a href="./psyche.html">PSYCHE ZERO</a>
                                    <a href="./mercury.html">MERCURY</a>
                                </li>
                                <li>
                                    <h4><a href="./problem.html">客服</a></h4>
                                </li>
                                <li>
                                    <h4><a href="javascript:;">媒体资讯</a></h4>
                                    <a href="./news.html">新闻动态</a>
                                    <a href="./news.html">媒体报道</a>
                                </li>
                                <li>
                                    <h4><a href="javascript:;">关于公司</a></h4>
                                    <a href="./company_into.html">公司介绍</a>
                                    <a href="./contact.html">联系我们</a>
                                    <a href="./join_us.html">加入我们</a>
                                </li>
                                <li>
                                    <h4><a href="javascript:;">论坛</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="foot_right">
                           <ul>
                                <li class="wx ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="s"> 
                                   <img src="./../src/images/wx.png" alt="微信公众号">
                                    <p class="text">微信公众号</p>
                                </li>
                                <li class="wb ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0.5s"> 
                                   <img src="./../src/images/wb.png" alt="微信公众号">
                                    <p class="text">微博二维码</p>
                                </li>
                                <li class="tt ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="1s"> 
                                   <img src="./../src/images/tt.png" alt="微信公众号">
                                    <p class="text">头条号</p>
                                </li>
                           </ul>
                        </div>
                    </div>
                    <div class="foot_b">
                        <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
                        <p class="b2">本站部分图片转自网络 ，如有侵权，请联系作者删除，谢谢！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
    </div>
</body>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable :true,
        },
        direction: 'vertical',
        slidesPerView: 1,
        mousewheel : true,
        spaceBetween: 0,
        on:{
            init: function(){
                swiperAnimateCache(this); //隐藏动画元素 
                swiperAnimate(this); //初始化完成开始动画
            }, 
            slideChangeTransitionEnd: function(){ 
                swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
                //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
            } 
        },
    });
</script>
</html>