<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>套件教育</title>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/common.css">
</head>
<body>
    <div class="cont">
        <div class="ed_top">
            <div class="header">
                <h1 class="logo"><a href="javascript:;">易念科技</a></h1>
                <ul class="nav">
                    <li><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">产品系列</a></li>
                    <li><a href="javascript:;">神经科学AI综合解决方案</a></li>
                    <li class="active"><a href="javascript:;">STEM教育套件</a></li>
                    <li><a href="javascript:;">科学原理</a></li>
                    <li><a href="javascript:;">开发</a></li>
                    <li><a href="javascript:;">软件下载</a></li>
                    <li><span class="yx"><a href="javascript:;">CN</a></span><span><a href="javascript:;">EN</a></span></li>
                    <li><a href="javascript:;"><img src="" alt=""></li>
                </ul>
            </div>
            <div class="ed1_txt">
                <h3>STEM教育套件</h3>
                <h4>专注教育领域 寓教于乐</h4>
                <h4>为大脑做引导性训练  提升学习效率，改善大脑状态</h4>
                <p>套件包含五套产品，易念科技STEM教育套件的目的就在于给大脑做引导性的训练，</p>
                <p>保持大脑与神经系统的活跃度，让学生掌握科学用脑的方法，适合编录进中小学生STEM教育的课程，</p>
                <p>帮助学生在学习中掌握积极的心态和集中注意力的技巧；提高他们的学习效率，克服学习困难。</p>
            </div>
            <div class="ed2">
                <div class="ed2_left">
                    <div class="ed2_txt">
                        <h3></h3>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="ed2_right">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>