<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>少儿英语在线</title>
    <script src="./../src/js/swiper.min.js"></script>
    <script src="../src/js/jquery-1.9.1.min.js"></script>
    <script src="../src/js/common.js"></script>
    <link rel="stylesheet" href="./../src/css/normal.css">
    <link rel="stylesheet" href="./../src/css/swiper.min.css">
    <link rel="stylesheet" href="./../src/css/common.css">
    <style>
        
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color:#000;
            margin: 0;
            padding: 0;
        }
        .swiper-container {
            width: 100%;
            height: 6rem;
            margin: 0.4rem auto;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .swiper-slide img{width: 100%; height: 100%;}
    </style>
</head>
<body>
<div class="header">
    <h1 class="logo"><a href="./index.html">易念科技</a></h1>
    <div class="sq"><a href="javascript:;"></a></div>
    <ul class="nav">
        <li><a href="./index.html">首页</a></li>
        <li class="cp"><a href="javascript:;">产品系列                </a>                <div class="child_nav">                     <a href="./psyche.html" >PSYCHE ZERO</a>                     <a href="./mercury.html">MERCURY</a>                </div>             </li>
        <li class="fangan"><a href="./com_plan.html">神经科学AI综合解决方案</a>
            <div class="child_nav">
                <a href="./finance.html" >金融机构减压室方案</a>
                <a href="./english.html">少儿在线英语教育方案</a>
                <a href="./teach_plan.html">中小学学习教育方案</a>
            </div>
        </li>
        <li><a href="./education.html">STEM教育套件</a></li>
        <li><a href="./principle.html">科学原理</a></li>
        <li><a href="./platform.html">开发</a></li>
        <li><a href="./download.html">软件下载</a></li>
        <li><a href="./shop.html">商店</a></li>
        <li><span class="yx"><a href="javascript:;">CN</a></span><span><a href="javascript:;">EN</a></span></li>
    </ul>
</div> 
<div class="english">
    <div class="english_top">
        顶尖少儿在线英语教育公司学习方案
    </div>
    <div class="english_cont">
        <div class="cont_with">
        <div class="bg">
            <h4 class="title">背景介绍</h4>
            <p class="text">BACKGROUND INTRODUCTION</p>
            <div class="bg_cont">
                <div class="img">
                    <img src="./../src/images/english/img1.png" alt="">
                </div>
                <div class="detail">
                    <h5>2018年我国在线少儿英语行业的技术环境</h5>
                    <div class="d_list">
                        <p>（1）硬件性能的提升，改善用户体验</p>
                        <p>（2）移动互联网拓宽使用场景</p>
                        <p class="wet">（3）大数据与人工智能带来更优质的服务</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="bg_cont">
                <div class="detail">
                    <h5>2018年中国在线少儿英语模式的核心价值总结</h5>
                    <div class="d_list">
                        <p>（1）超越时空限制</p>
                        <p>（2）形式丰富，趣味性强</p>
                        <p>（3）连接与匹配（在线学习平台实现了学生与外教双方需求的对接，
                                在连接的基础上，基于后台数据学生还得以匹配到最合适的外教人选。）</p>
                        <p class="wet">（4）个性化</p>
                    </div>
                </div>
                <div class="img">
                    <img src="./../src/images/english/img2.png" alt="">
                </div>
                
            </div>
        </div>
        <div class="bg bg1">
            <div class="bg_cont">
                <div class="detail img">
                    <img src="./../src/images/english/img3.png" alt="">
                    <div class="d_list">
                        <h5>易念科技拟针对在线少儿英语教育痛点解决问题</h5>
                        <p><span style="font-weight: 600">师生匹配：</span> <br>
                            现在行业内市场份额较大、系统结构比较完善的在线少儿英语教育机构，一般采取题目测试或者安排试听课程的方式为孩子匹配老师，这两种方式都不够客观，易念科技认为，对于短时间内判断学习效果来说，用老师调动学生注意力的能力来判断可能会比较准确，即利用生物反馈技术，监测学生上课时的注意力水平，结合人工智能技术进行大数据分析。</p>
                    </div>
                </div>
                <div class="detail img">
                    <img src="./../src/images/english/img4.png" alt="">
                    <div class="d_list">
                        <h5>易念科技拟针对在线少儿英语教育痛点解决问题</h5>
                        <p><span style="font-weight: 600">个性化学习：</span><br> 尽管现在的线上平台已经存在一个根据孩子上课情况，<br>
                                制定对应学习方案和教学方法的机制，<br>
                                但易念科技不仅会利用到人工智能、大数据技术，<br>
                                还将从教育学、神经科学、心理学等方面透析孩子在课堂中的脑波频率等<br>
                                生理特征和学习方法等逻辑思维定式特征，<br>
                                为孩子量身定制最适合他们的学习方案，提高学习效率。</p>
                    </div>
                </div>     
                
            </div>
        </div>
        <div class="cj">
            <h4 class="title">方案应用场景</h4>
            <p class="text">APPLICATION  SCENARIO OF THE PROGRAM</p>
            <div class="swiper-container swiper-container-horizontal swiper-container-free-mode">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide swiper-slide-active" >
                        <div class="box">
                            <img src="../src/images/english/sw1.png" alt="">
                            <div class="cont">
                                <h5>注意力智能师生匹配系统：</h5>
                                <p>是利用人工智能，基于生物反馈技术的一套
                                        监测孩子在试听网络课程时注意力水平并快速
                                        为其匹配合适外教的智能系统。</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" >
                        <img src="../src/images/english/sw2.png" alt="">
                    </div>
                    <div class="swiper-slide" >
                        <img src="../src/images/english/sw3.png" alt="">
                    </div>
                    <div class="swiper-slide swiper-slide-active" >
                        <div class="box">
                            <img src="../src/images/english/sw4.png" alt="">
                            <div class="cont">
                                <h5>开放接口服务：</h5>
                                <p>易念科技会将采集到的学生脑波数据库的分析数据，经过初步包装，封装成API开放给机构，供其调用。</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" >
                        <div class="box">
                            <img src="../src/images/english/sw5.png" alt="">
                            <div class="cont">
                                <h5>线下学习体系：</h5>
                                <p>A、线下学习评测系统<br>
                                B、智能音乐调节系统<br>
                                C、学习状态事前评测系统</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" >
                        <div class="box">
                            <img src="../src/images/english/sw6.png" alt="">
                            <div class="cont">
                                <h5>课程推荐系统</h5>
                                <p>我们会利用头箍监测孩子们在上课时的注意力，根据他们在不同课程的注意力反馈来判断这些课程的价值，为平台选择出热度更高，效果更好的课程模式，并为用户智能推荐。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div> -->
            </div>
        </div>
        <div class="bg ta">
            <h4 class="title">更多提案</h4>
            <p class="text">MORE PROPOSALS</p>
            <div class="bg_cont">
                <div class="ta1">
                    <div class="ta_text1">
                        <h5>STEM课堂教育：</h5>
                        <p>重视孩子的能力培养几乎所有教育平台或机构，
                                不论线上还是线下，都强调孩子的能力培养，
                                而易念科技正好有一套STEM课堂教育以及脑力训练方案，
                                可以提高学生各项大脑能力，也能培养孩子的动手能力，促进智力发育。</p>
                    </div>
                </div>
                <div class="ta2">
                    <div class="ta_text2">
                        <h5>脑波识别技术：</h5>
                        <p>利用人工智能加持的生物反馈技术——脑波识别，
                                来判断孩子的专注度与沟通效果这些学习数据，更加直观准确。
                                我们可以检测到每个孩子不同的脑纹特征，将来可以用于平台客户端的登录系统，
                                而且能对这些数据进行提取分析，用于给老用户推荐课程，提高课程利用率，打造良好口碑</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="foot">
        <div class="foot_top">
            <div class="foot_left">
                <div class="logo">
                    <img src="./../src/images/logo.png" alt="">
                </div>
                <p class="text"><span>电话：</span> +86-0755-86667894</p>
                <p class="text"><span>邮箱：</span> publicmedia@neu-flex.com</p>
                <p class="text"><span>地址：</span> 深圳市南山区科技园高新中三道
                        二号深圳软件园5栋210</p>
            </div>
            <div class="foot_center">
                <ul>
                    <li>
                        <h4><a href="./index.html">首页</a></h4>
                    </li>
                    <li>
                        <h4><a href="javascript:;">产品列表</a></h4>
                        <a href="./psyche.html">PSYCHE ZERO</a>
                        <a href="./mercury.html">MERCURY</a>
                    </li>
                    <li>
                        <h4><a href="./problem.html">客服</a></h4>
                    </li>
                    <li>
                        <h4><a href="javascript:;">媒体资讯</a></h4>
                        <a href="./news.html">新闻动态</a>
                        <a href="javascript:;">媒体报道</a>
                    </li>
                    <li>
                        <h4><a href="javascript:;">关于公司</a></h4>
                        <a href="./company_into.html">公司介绍</a>
                        <a href="./contact.html">联系我们</a>
                        <a href="./join_us.html">加入我们</a>
                    </li>
                    <li>
                        <h4><a href="javascript:;">论坛</a></h4>
                    </li>
                </ul>
            </div>
            <div class="foot_right">
               <ul>
                    <li class="wx"> 
                       <img src="./../src/images/wx.png" alt="微信公众号">
                        <p class="text">微信公众号</p>
                    </li>
                    <li class="wb"> 
                       <img src="./../src/images/wb.png" alt="微信公众号">
                        <p class="text">微博二维码</p>
                    </li>
                    <li class="tt"> 
                       <img src="./../src/images/tt.png" alt="微信公众号">
                        <p class="text">头条号</p>
                    </li>
               </ul>
            </div>
        </div>
        <div class="foot_b">
            <p class="b1">Copyright Neural FLEX 粤ICP备18060473号</p>
            <p class="b2">本站部分图片转自网络 ，如有侵权，请联系作者删除，谢谢！</p>
        </div>
    </div>
</body>
<script>
     if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            direction: 'horizontal',
            slidesPerView: 2,
            mousewheel : true,
            spaceBetween: 10,
        });
        } else {
            var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            direction: 'horizontal',
            slidesPerView: 3,
            mousewheel : true,
            spaceBetween: 10,
        });
        }
    // var swiper = new Swiper('.swiper-container', {
    //     pagination: {
    //         el: '.swiper-pagination',
    //         type: 'bullets',
    //     },
    //     navigation: {
    //         nextEl: '.swiper-button-next',
    //         prevEl: '.swiper-button-prev',
    //     },
    //     direction: 'horizontal',
    //     slidesPerView: 2,
    //     mousewheel : true,
    //     spaceBetween: 0,

      
    // });
    
</script>
</html>